{% load static i18n %}
    <div class="container-fluid hmv2-footer">
      <div class="container p0">
        <div class="col-xs-12 col-sm-12 col-md-12 home-block t40xs">
          <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
            <p><b>Chef-Contact</b></p>
            <ul class="list-unstyled">
              <li><a href="{% url 'about' %}" title="About">{% trans 'О нас' %}</a></li>
              <li><a href="{% url 'terms' %}" title="Policies">{% trans 'Правила пользования' %}</a></li>
              <li><a href="{% url 'privacy' %}" title="Privacy">{% trans 'Политика конфиденциальности' %}</a></li>
              <li><a href="{% url 'rules' %}">{% trans 'Конкурсы' %}</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
            <p><b>{% trans 'Исследовать' %}</b></p>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'confiance' %}" title="Trust and Safety">{% trans 'Доверие и Безопасность' %}</a>
              </li>
              <li><a href="{% url 'press' %}" title="Press">{% trans 'Пресса' %}</a></li>
              <li><a href="{% url 'faq' %}" title="F.A.Q">{% trans 'Часто задавемые вопросы' %}</a></li>
              <li>
                <a href="{% url 'contact' %}" title="Contact us">{% trans 'Связаться с нами' %}</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
            <p><b>{% trans 'Шеф' %}</b></p>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'howitworks' %}" title="How does it work?">{% trans 'Как это работает?' %}</a>
              </li>
              <li><a href="{% url 'becomeahost' %}">{% trans 'Стать шефом' %}</a></li>
              <li><a href="{% url 'hospitality' %}">{% trans 'Гостеприимство' %}</a></li>
              <li><a href="{% url 'meal_restriction' %}">{% trans 'Специальные диеты' %}</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
            <p><b>{% trans 'Социальные сети' %}</b></p>
            <ul class="list-inline">
              <li>
                <a href="https://www.facebook.com/HomeMeal-153960538296278/" target="_blank"><i
                    class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/HomeMealCompany" target="_blank"><i class="fa fa-twitter fa-lg"
                    aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://in.pinterest.com/homemeal/" target="_blank"><i class="fa fa-pinterest-p fa-lg"
                    aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/homemeal_official/" target="_blank"><i class="fa fa-instagram fa-lg"
                    aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCOc1S6b_QlHV9FA4T1Vj63A/" target="_blank"><i
                    class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 home-block top-border pt20 b60">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 p0">
            <p class="t5">
              © chef-contact.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>