{% load static %}
<header>
    <div class="mobile-menu">
        <ul>
            <li><a href="{% url "all_products" user.username %}">My products</a></li>
            <li><a href="{% url "profile" user.username %}#about">About</a></li>
            <li><a href="{% url "profile" user.username %}#question">Question</a></li>
            {% if user.is_authenticated %}
                <li><span class="user_header">{{request.user.username}}</span></li>
            {% else %}
                <li><a href="{% url "login" %}" class="user_link">Войти</a></li>
                <li><a href="{% url "login" %}" class="user_link">Зарегестрироваться</a></li>
            {% endif %}
            {% if request.user.is_authenticated != True %}
            <li><a href="#">Sign-in</a></li>
            <li><a href="#">Connect</a></li>
            {% endif %}
        </ul>
    </div>

    </div>
    <div class="new-header">
        <ul class="left">
            <li><a href="{% url "all_products" user.username %}">My products</a></li>
            <li><a href="{% url "profile" user.username %}#about">About</a></li>
            <li><a href="{% url "profile" user.username %}#question">Question</a></li>
        </ul>
        <a href="{% url "index" %}" class="icon"><img src="{% static '/assets/images/home/logo-chef.png' %}" alt="chef-contact-icon"></a>

        <ul class="right">  
            {% if user.is_authenticated %}
                <li><span class="user_header">{{request.user.username}}</span></li>
            {% else %}
                <li><a href="{% url "login" %}" class="user_link">Войти</a></li>
                <li><a href="{% url "login" %}" class="user_link">Зарегестрироваться</a></li>
            {% endif %}
            {% if request.user.is_authenticated != True %}
            <li><a href="#">Sign-in</a></li>
            <li><a href="#">Connect</a></li>
            {% endif %}
        </ul>
        <span id="mobile"><i id="toggle-btn" class="fa-solid fa-bars toggle-btn"></i></span>
    </div>
    <div class="bottom-header"
        style="background: url('{{user_shop.back_image.url}}') center/cover no-repeat;">
        <h1>{{user_shop.title}}</h1>
        <p>{{user_shop.tagline}}</p>
    </div>
</header>