<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden</title>
</head>
<body>
    <h1>Доступ запрещен, поварша!</h1>
    <img src="../../static/assets/images/app-store.jpg" alt="Chef Gate">
    <p>Извините, у вас нет разрешения на доступ к этой странице. Если у вас есть вопросы или запросы, пожалуйста, свяжитесь с нашим отделом обслуживания клиентов. Мы всегда рады помочь!</p>
</body>
</html>
