<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error</title>
</head>
<body>
    <h1>Что-то пошло не так в нашей кухне!</h1>
    <img src="../../static/assets/images/app-store.jpg" alt="Chef Error">
    <p>Произошла ошибка на сервере. Наши шефы кухни уже работают над решением проблемы. Попробуйте обновить страницу через некоторое время или свяжитесь с нами напрямую для помощи.</p>
</body>
</html>