@font-face {
    font-family: Santa-Catarina;
    src: url(./SantaCatarina.otf);
}

@font-face {
    font-family: Riveria;
    src: url(./Riveria\ Font.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(./helvetica_regular.otf);
}

@font-face {
    font-family: Inter;
    src: url(./static/Inter-Regular.ttf);
}

* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.mobile-menu {
    display: none;
}

.toggle-btn {
    opacity: 0;
}

header {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    text-align: center;
}

.new-header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 162, 0);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.new-header .icon {
    width: 100%;
    max-width: 182px;
    height: 30px;
}

.new-header .icon img {
    width: 100%;
    height: 100%;
}

.new-header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0;
}

.new-header ul li {
    height: 35px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
}

li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.bottom-header {
    position: relative;
    color: white;
    text-align: center;
    height: 630px;
    border-radius: 20px;
}

.bottom-header h1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.94) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    font-family: "Santa-Catarina";
    height: auto;
    font-weight: 400;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 14em;
}

.bottom-header p {
    width: 80%;
    margin: 40px auto;
    font-family: "Helvetica";
    font-size: 1em;
    text-align: center;
}

.my-products,
.about-product,
.ask-question,
.comment {
    margin: 20px auto;
}

.my-products h1,
.about-product h1,
.ask-question h1,
.comment h1 {
    font-family: 'Santa-Catarina';
    font-weight: 400;
    font-size: 2em;
}

.wiper {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.wiper-wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

.wiper-track {
    width: 100%;
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.wiper-item {
    flex: 0 0 auto;
    width: calc(50% - 20px);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
    text-align: center;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    transition: opacity 0.5s ease, display 0.5s ease;

}

.product-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.product-name {
    font-family: "Riveria";
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
}

.short-description {
    text-align: left;
    font-family: "Helvetica";
    font-size: 1em;
    line-height: 1.4em;
    transition: opacity 0.5s ease, display 0.5s ease;

}

.product {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.product .long-description {
    display: none;
    transform: translateY(-100%);
}

.product:hover .short-description {
    opacity: 0;
}

.product:hover .long-description {
    display: block;
    transform: translateY(0);
}

.product:hover .product-img {
    display: none;
}



.long-description {
    display: none;
    height: 200px;
    line-height: 27px;
    transition: opacity 0.5s ease, transform 0.5s ease;

}

.prices {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.price {
    font-family: "Helvetica";
    font-size: 0.8em;
    width: 85px;
    border: 1px solid black;
    border-radius: 8.25px;
    padding: 8px 10px;
}

.price.new {
    color: #309740;
    border: 1px solid #309740;
}

.price .old {
    text-decoration: line-through;
}

.about-product {
    padding: 2em;
}

.about-product .description {
    width: 80%;
    margin: 30px auto 0;
    font-family: "Helvetica";
    line-height: 1.4em;
    text-align: center;
    font-size: 1em;
    padding: 70px 100px;
    border-radius: 50px;
    box-shadow: 0px 4px 22px -3px rgba(0, 0, 0, 0.25);
}



.ask-question form {
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-family: "Helvetica";
    line-height: 1.4em;
    font-size: 1em;
}

form input,
form textarea {
    height: 60px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 1em;
}

form button {
    background-color: #000000;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    color: white;
}

.comment h2 {
    margin-bottom: 10px;
    text-align: center;
}

.stars {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 3.7em;
    cursor: pointer;
    text-align: center;
}

.star {
    color: #ccc;
    transition: color 0.5s;
}

.gold {
    color: gold;
}

.my-products .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-container .product-item {
    list-style: none;
    width: calc(50% - 20px);
    padding: 20px;
    min-height: 420px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item .top,
.product-item .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-item .top .product-name,
.product-item .top .product-rate {
    font-family: "Inter";
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    text-transform: capitalize;
    color: white;
    border: 1px solid white;
}

.product-item .bottom .short-description,
.product-item .bottom .prise {
    font-family: "Inter";
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: rgb(0, 0, 0);
}

.form input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding: 10px;
    font-family: "Helvetica";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0em;
    text-align: left;
    outline: none;
}

.form input::placeholder {
    color: black;
}

.form button {
    margin-top: 20px;
    font-family: "Helvetica";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    background-color: white;
    color: black;
}

@media (max-width: 1200px) {
    .new-header ul li {
        font-size: 0.9em;
    }

    .bottom-header h1 {
        font-size: 10em;
    }

    .bottom-header p {
        font-size: 1em;
    }
}

@media (max-width: 999px) {

    .product-item .top .product-name,
    .product-item .top .product-rate,
    .product-item .bottom .short-description,
    .product-item .bottom .prise {
        font-size: 0.9em;
    }

    .new-header .icon {
        width: 100%;
        max-width: 150px;
    }

    .new-header ul li {
        font-size: 0.8em;
    }

    .bottom-header {
        height: 450px;
    }

    .bottom-header h1 {
        font-size: 8.5em;
    }

    .bottom-header p {
        font-size: 0.9em;
    }

    .wiper-item {
        width: calc(50% - 20px);
    }

    .product-container .product-item {
        width: calc(50% - 20px);
    }
}

@media(max-width:899px) {

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.774);
        z-index: 999;
    }

    li a {
        color: #000000;
    }

    .new-header {
        position: relative;
    }

    .new-header ul {
        display: none;
    }



    .toggle-btn {
        opacity: 1;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        padding: 30px;
        top: 0;
        right: 0;
        width: 35%;
        height: 100vh;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 10px;
        margin: 0;
    }

    .mobile-menu li {
        color: rgb(0, 0, 0) !important;
        margin-bottom: 10px;
    }

    /* .mobile-menu .close-btn {
        text-align: right;
        padding: 10px;
        cursor: pointer;
    } */
}


@media (max-width: 768px) {
    .new-header ul {
        flex-direction: column;
        align-items: center;
    }

    .new-header ul li {
        width: 100%;
        text-align: center;
    }

    .bottom-header h1 {
        font-size: 6.5em;
    }

    .bottom-header p {
        font-size: 0.8em;
    }

    .about-product .description {
        padding: 30px 60px;
        font-size: 0.8em;
    }

    .ask-question form {
        padding: 1em;
    }

    .wiper-item {
        width: calc(100% - 20px);
    }

    .product-container .product-item {
        width: calc(100% - 20px);
    }

    .product-item .top .product-name,
    .product-item .top .product-rate,
    .product-item .bottom .short-description,
    .product-item .bottom .prise {
        font-size: 0.8em;
    }
}

@media (max-width: 579px) {
    .new-header ul li {
        font-size: 0.7em;
    }

    .bottom-header {
        height: 300px;
    }

    .bottom-header h1 {
        font-size: 3.4em;
    }

    .bottom-header p {
        font-size: 0.7em;
    }

    .about-product .description {
        padding: 20px 50px;
        font-size: 0.8em;
    }

    .ask-question form {
        padding: 0.8em;
    }

    .wiper-item {
        width: calc(100% - 20px);
    }

    .product-container .product-item {
        width: calc(100% - 20px);
    }

    .product-item .top .product-name,
    .product-item .top .product-rate,
    .product-item .bottom .short-description,
    .product-item .bottom .prise {
        font-size: 0.7em;
    }
}