{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div class="contaibner-fluid bg-estimation bottom-border">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-pics-head" class="carousel slide"
                data-ride="carousel">
                <div class="detail-title-lg visible-lg">
                    <h1 class="hm-align-center"> Sherlock's shop </h1>
                </div>
                <div class="detail-title-md visible-md">
                    <h1 class="hm-align-center"> Sherlock's shop </h1>
                </div>
                <div class="detail-title-sm visible-sm">
                    <h1 class="hm-align-center"> Sherlock's shop </h1>
                </div>
                <div class="detail-title-xs visible-xs">
                    <h3 class="hm-align-center">Sherlock's shop</h3>
                </div>

                <div class="carousel-inner hm-carousel2" role="listbox">
                    <div class="item  active ">
                        <img class="img-responsive full-input img-blk visible-lg visible-md w-100"
                            src="https://www.homemeal.com/media/cache/head_profil/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
                        <img class="img-responsive full-input img-blk visible-sm w-100"
                            src="https://www.homemeal.com/media/cache/main/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
                        <img class="img-responsive full-input img-blk visible-xs w-100"
                            src="https://www.homemeal.com/media/cache/ask_profil/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
                    </div>
                </div>
            </div>
        </div>
            
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-20 xs-txt">

                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 flat-profil profil-content">
                            <a href="#"><img class="img-circle img-switch shadow-box2 img-responsive top-20" src="https://www.homemeal.com/media/cache/my_profil/uploads/pics/profil.jpg"></a>
                        </div>

                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 hm-align-center top-20">
                            <i>
                                <h4 class="name bot-20">" Самое вкусное за самую низкую цену! "</h4>
                            </i>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shadow-box bg-estimation detail-box">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center top-20">
                                    <div class="rating-container rating-sm rating-animate">
                                        <div class="rating-stars">
                                            <span class="filled-stars" style="width: 0%;">
                                                <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                                <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                                <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                                <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                                <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                            </span>
                                            <input value="" type="text" class="rating pull-right top-10 rating-input"  data-min="0" data-max="5" data-step="1" data-size="sm" title=" " data-show-caption="false" data-show-clear="false" data-hover-enabled="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-10 top-10">
                                    <i class="fa fa-map-marker fa-lg text-default" aria-hidden="true"></i>
                                     &nbsp;<span class="xs-text"><b>Place of the reception</b></span><br>
                                    Baker street 221b                                     
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <i class="fa fa-cutlery text-default" aria-hidden="true"></i> &nbsp;<span
                                        class="xs-text"><b>Type de bien</b></span><br>
                                    maison
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <i class="fa fa-users text-default" aria-hidden="true"></i> &nbsp;<span
                                        class="xs-text"><b>Reviews</b></span><br>
                                    de to 2
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-10 padd-5">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padd-5">
                                        <a href="#"
                                            class="btn btn-default btn-lg full-input">Contact</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-20 xs-txt">
                        <h3 class="title-style bot-20 top-20 full-input hm-align-center"><b><i class="fa fa-cutlery" aria-hidden="true"></i> Custom orders</b></h3>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header">
            
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                                    <span class="xs-txt">
                                        <span>
                                            <i class="fa fa-users" aria-hidden="true"></i><br>Number of guests<br> to 2
                                        </span>
                                    </span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                                    <span class="xs-txt">
                                        <a href="#"><i class="fa fa-eye fa-lg"
                                                aria-hidden="true"></i><br>Snapshot</a>
                                    </span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                                    <span class="xs-txt">
                                        <a data-isloaded="false" href="#myModal" data-toggle="modal"
                                            data-load-remote="/en/user/flat/delete/72" data-target="#confirmationModal">
                                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i><br>Delete<br>this ad </a>
                                    </span>
                                </div>
            
                            </div>
            
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
                                <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 host-book-title">ASDAS<br>
                                    <span class="host-book-price">23 € / <i class="fa fa-user-o" aria-hidden="true"></i></span>
                                </p>
            
                                <img class="img-responsive img-blk"
                                    src="https://www.homemeal.com/media/cache/my_thumb/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
            
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box">
                            <div
                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home-box-border-space add-event-btn2 hm-align-center">
                                <p class="top-50p">
                                    <a href="#">
                                        <i class="fa fa-plus-square fa-4x" aria-hidden="true"></i><br>Add a<br>new service
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-20">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content top-border">
                            <h4 class="top-10"><i class="fa fa-pencil-square-o text-danger top-10" aria-hidden="true"></i> &nbsp;About us :</h4><br>
                            <p>ASDASD</p>
                        </div>
                        <div id="maploc" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-20 bot-10">
                            <h3 class="bot-20">Place of reception</h3>
                            <b class="xs-txt">Точное место приема будет доступно для вас после того, как хозяин подтвердит ваше бронирование.</b>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <img class="img-responsive" src="../../images/home/area.png' %}" style="position:absolute; z-index:2;">

                                <img class="img-responsive" width="100%" src="https://www.homemeal.com/en/map/2345" style="margin:0;">
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-20">
                        <h2 class="top-10">Ask you question</h2><br>

                        <form name="fos_user_registration_form" method="post" action="/en/register/" class="fos_user_registration_register">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-estimation bot-80 shadow-box padding-40"style="border-radius: 8px">
                              <div class="form-group has-feedback has-feedback-right">
                                <textarea type="text" id="fos_user_registration_form_firstname" name="fos_user_registration_form[firstname]" style="resize: none;" required="required" placeholder="Prénom" class="form-control" ></textarea>
                      
                                <i class="fa fa-pencil form-control-feedback fa-lg log-ico"></i>
                              </div>
                      
                              <div class="form-group has-feedback has-feedback-right">
                                <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]"
                                  required="required" placeholder="Adresse e-mail" class="form-control" />
                      
                                <i class="fa fa-envelope-o form-control-feedback fa-lg log-ico"></i>
                              </div>
                      
                             
                              <div>
                                <button class="btn btn-danger btn-lg btn-connexion full-input xl-btn" type="submit" id="btn-connexion" aria-haspopup="true" aria-expanded="true">
                                  Send
                                </button>
                              </div>
                          </form>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
        function initialize() {
            // Create the search box and link it to the UI element.
            var input = document.getElementById('location');
            var searchBox = new google.maps.places.SearchBox(input);

            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            //searchBox.addListener('places_changed', function() {
            //  console.log("ok")
            //});
        }
    </script>


{% include 'include/footer.html' %}
{% endblock %}