{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chef-Contact</title>
    <link rel="stylesheet" href="{% static '/assets/jquery-ui-1.12.0/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap_shop4.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap-social.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="{% static '/assets/js/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static '/assets/css/chat.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/shop4_style.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/homemeal.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="{% static '/assets/css/star-rating.css' %}" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body id="homepage" style="background-color: #fff !important;">
    <div id="loading">
        <img id="loading-image" src="{% static '/assets/images/loading.gif' %} " alt="Loading..." style="margin-left: -60px" />
    </div>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top hm-navbar">
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <a href="#" class="navbar-brand hidden-xs hidden-sm" style="margin-top: 6px">
                        <img class="img-responsive" src="{% static '/assets/images/home/logo-chef.png' %}" />
                    </a>
                    <a href="#" class="pull-left visible-xs visible-sm">
                        <img class="img-responsive sigle-hm" src="{% static '/assets/images/home/single-chef.png' %}" />
                    </a>

                    <a id="pictoSearch" href="./search/index.html"
                        class="btn btn-outline4 btn-lg menu-search padd-20"><i class="fa fa-search fa-lg"
                            aria-hidden="true"></i></a>

                    <a class="navbar-toggle xs-btn" data-toggle="collapse" data-target=".navbar-collapse" href="#"><i
                            class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="lang_list"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose Your language
                                </button>
                                <ul class="dropdown-menu dropdown-footer pull-right" aria-labelledby="dropdownMenu1">
                                    <li aria-checked="true" class="active" role="menuitem">
                                        <a href="#">English</a>
                                    </li>
                                    <li aria-checked="false" role="menuitem">
                                        <a href="#">Русский</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="./becomeahost.html">
                                    <button type="button" class="btn btn-outline">Become a host</button>
                                </a>
                            </div>
                        </li>

                        <li class="divider-vertical" style="height: 60px">
                            <div>
                                <button class="btn toggle-left btn-host" type="button" id="btn-inscription"
                                    aria-haspopup="true" aria-expanded="true" data-toggle="modal"
                                    data-target="#modal-inscription">
                                    Sign-in
                                </button>
                            </div>
                        </li>
                        <li class="divider-vertical" style="height: 60px">
                            <div>
                                <a href="./login.html">
                                    <button class="btn toggle-left btn-host" type="button" id="btn-inscription"
                                        aria-haspopup="true" aria-expanded="true">
                                        Connect
                                    </button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="modal fade" id="modal-inscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="z-index: 200000">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body top-10">
                        <a href="register/index.html">
                            <button class="btn btn-danger btn-lg bot-20" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-envelope-o pull-left fa-lg" style="margin-top: 3px"
                                    aria-hidden="true"></i>
                                Sign-in with email
                            </button>
                        </a>
                        <a href="../connect/facebook.html">
                            <button class="btn btn-primary btn-lg" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-facebook pull-left fa-lg" aria-hidden="true"></i>
                                Sign-in with Facebook
                            </button>
                        </a>
                        <div class="xs-text">
                            <p class="modal-signin-text search-bar-label">
                                By creating an account, I agree upon the
                                <a href="terms.html">General terms of use</a> of Homemeal and
                                <a href="privacy.html">Confidentiality</a>
                            </p>
                        </div>
                        <div class="separation-line"></div>
                    </div>
                    <div class="modal-footer bot-10">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                            <p class="xs-text" style="padding-top: 3px">Already a member?</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <a href="./login.html">
                                <button type="button" class="btn btn-outline2 btn-lg pull-right">Connect</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-connexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <a href="../connect/facebook.html">
                            <button class="btn btn-primary btn-lg" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-facebook pull-left fa-lg" aria-hidden="true"></i>
                                Connect with Facebook
                            </button>
                        </a>

                        <p class="hm-align-center search-bar-label">- ou -</p>

                        <a href="./login.html">
                            <button class="btn btn-danger btn-lg" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-envelope-o pull-left fa-lg" aria-hidden="true"></i>
                                Connect with your e-mail
                            </button>
                        </a>

                        <div class="separation-line"></div>
                    </div>

                    <div class="modal-footer">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 xs-text">
                            <p class="sm-top"><b> No account yet?</b></p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <button class="btn btn-outline2 btn-lg pull-right" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true" data-toggle="modal"
                                data-target="#modal-inscription">
                                Sign-in
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero slider -->
    <section class="section-hero padding-b-100 next">
        <div class="cr-slider swiper-container">
            <div class="">
                <div class="">
                    <div class="cr-hero-banner cr-banner-image-two">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cr-left-side-contain slider-animation">
                                        <h5><span>Сюда</span> какой то слоган</h5>
                                        <h1>{{ user_shop.title }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Popular product -->
    <section class="section-popular-product-shape padding-b-100">
        <div class="container" data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-30">
                        <div class="cr-banner">
                            <h2>Мои продукты</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-content row mb-minus-24" id="MixItUpDA2FB7">
                <div class="col-xl-12 col-lg-12 col-12 mb-24">
                    <div class="row mb-minus-24 d-flex">
                        <div class="mix vegetable col-xxl-shop-4-3 col-xl-4 col-6 cr-product-box mb-24">
                            <div class="cr-product-card">
                                <div class="cr-product-image">
                                    <div class="cr-image-inner zoom-image-hover">
                                        <img src="{% static '../../img/product/1.jpg' %}" alt="product-1">
                                    </div>
                                </div>
                                <div class="cr-product-details">
                                    <div class="cr-brand">
                                        <a href="">Vegetables</a>
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                            <p>(4.5)</p>
                                        </div>
                                    </div>
                                    <a href="" class="title">Fresh organic villa farm lomon
                                        500gm pack</a>
                                    <p class="cr-price"><span class="new-price">$120.25</span> <span
                                            class="old-price">$123.25</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="mix snack col-xxl-shop-4-3 col-xl-4 col-6 cr-product-box mb-24">
                            <div class="cr-product-card">
                                <div class="cr-product-image">
                                    <div class="cr-image-inner zoom-image-hover">
                                        <img src="{% static '../../img/product/9.jpg' %}" alt="product-1">
                                    </div>
                                </div>
                                <div class="cr-product-details">
                                    <div class="cr-brand">
                                        <a href="">Snacks</a>
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <p>(5.0)</p>
                                        </div>
                                    </div>
                                    <a href="" class="title">Best snakes with hazel nut pack
                                        200gm</a>
                                    <p class="cr-price"><span class="new-price">$145</span> <span
                                            class="old-price">$150</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="mix fruit col-xxl-shop-4-3 col-xl-4 col-6 cr-product-box mb-24">
                            <div class="cr-product-card">
                                <div class="cr-product-image">
                                    <div class="cr-image-inner zoom-image-hover">
                                        <img src="{% static '../../img/product/2.jpg' %}" alt="product-1">
                                    </div>
                                </div>
                                <div class="cr-product-details">
                                    <div class="cr-brand">
                                        <a href="">Fruits</a>
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                            <p>(4.5)</p>
                                        </div>
                                    </div>
                                    <a href="" class="title">Fresh organic apple 1kg simla
                                        marming</a>
                                    <p class="cr-price"><span class="new-price">$120.25</span> <span
                                            class="old-price">$123.25</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="mix bakery col-xxl-shop-4-3 col-xl-4 col-6 cr-product-box mb-24">
                            <div class="cr-product-card">
                                <div class="cr-product-image">
                                    <div class="cr-image-inner zoom-image-hover">
                                        <img src="{% static '../../img/product/17.jpg' %}" alt="product-1">
                                    </div>
                                </div>
                                <div class="cr-product-details">
                                    <div class="cr-brand">
                                        <a href="">Bakery</a>
                                        <div class="cr-star">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <p>(5.0)</p>
                                        </div>
                                    </div>
                                    <a href="" class="title">Delicious white baked fresh bread
                                        and toast</a>
                                    <p class="cr-price"><span class="new-price">$20</span> <span
                                            class="old-price">$22.10</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- About -->
    <section class="section-about padding-tb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-about" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                        <h4 class="heading">About The Carrot</h4>
                        <div class="cr-about-content">
                            <p>{{ user_shop.description|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <section class="footer padding-t-100">
        <div class="container">
            <div class="row footer-top padding-b-100">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-12 cr-footer-border align-content-center">
                    <div class="cr-footer cr-newsletter">
                        <h4 class="cr-sub-title">
                            Ask your question
                            <span class="cr-heading-res"></span>
                        </h4>
                        <div class="cr-footer-links cr-footer-dropdown">
                            <form class="cr-content-form">
                                <div class="form-group">
                                    <label>question</label>
                                    <textarea type="text"class="cr-form-control" style="resize: none;"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Email Address*</label>
                                    <input type="text" class="cr-form-control">
                                </div>
                                <div class="login-buttons">
                                    <button type="button" class="cr-button">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cr-last-footer">
                <p>&copy; <span id="copyright_year"></span> <a href="index.html">Carrot</a>, All rights reserved.</p>
            </div>
        </div>
    </section>

    <script>
        function initialize() {
            // Create the search box and link it to the UI element.
            var input = document.getElementById('location');
            var searchBox = new google.maps.places.SearchBox(input);

            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            //searchBox.addListener('places_changed', function() {
            //  console.log("ok")
            //});
        }
    </script>

    <div class="container-fluid hmv2-footer">
        <div class="container p0">
            <div class="col-xs-12 col-sm-12 col-md-12 home-block t40xs">
                <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
                    <p><b>Chef-Contact</b></p>
                    <ul class="list-unstyled">
                        <li><a href="./aboutus.html" title="About">About</a></li>
                        <li><a href="./terms.html" title="Policies">Policies</a></li>
                        <li><a href="./privacy.html" title="Privacy">Privacy</a></li>
                        <li><a href="./rules.html">Contests</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
                    <p><b>Découvrir</b></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="./confiance.html" title="Trust and Safety">Trust and Safety</a>
                        </li>
                        <li><a href="./press.html" title="Press">Press</a></li>
                        <li><a href="./faq.html" title="F.A.Q">F.A.Q</a></li>
                        <li>
                            <a href="./contact_us.html" title="Contact us">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
                    <p><b>Accueillir</b></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="./howitworks.html" title="How does it work?">How does it work?</a>
                        </li>
                        <li><a href="./becomeahost.html">Become a host</a></li>
                        <li><a href="./hospitality.html">Hospitality</a></li>
                        <li><a href="./meal_restriction.html">Specific diets</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
                    <p><b>Rejoignez-nous</b></p>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/HomeMeal-153960538296278/" target="_blank"><i
                                    class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/HomeMealCompany" target="_blank"><i class="fa fa-twitter fa-lg"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://in.pinterest.com/homemeal/" target="_blank"><i
                                    class="fa fa-pinterest-p fa-lg" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/homemeal_official/" target="_blank"><i
                                    class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCOc1S6b_QlHV9FA4T1Vj63A/" target="_blank"><i
                                    class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 home-block top-border pt20 b60">
                <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 p0">
                    <p class="t5">
                        © chef-contact.com
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="{% static '/assets/js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/jquery-3.6.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/mixitup.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/aos.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/jquery.zoom.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/range-slider.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/jquery-ui-1.12.0/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/jquery-ui-1.12.0/i18n/datepicker-fr.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/mainshop4.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/highlight.pack.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/jquery.sticky-kit.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/assets/js/material.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/assets/js/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.js' %} "></script>

    <script type="text/javascript" src="{% static '/assets/js/homemeal.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/js/star-rating.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ3gW0vTR08BDtM1n0t0jRKuIaglCRwDw&libraries=places&callback=initialize"></script>
</body>

</html>