{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div class="contaibner-fluid bg-estimation bg-tips" style="margin-bottom:-15px;">
        <div class="container profil-content">
            <form method="post" class="fos_user_profile_edit">
                {% csrf_token %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-estimation top-40 box-border">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-bg blk-header">
                        <h3 class="profil-content">Редактирование магазина</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-border">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 top-20 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0">
                                <label class="control-label required" for="fos_user_profile_form_firstname">Название магазина</label>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 top-20 profil-content">
                            {% if shop.title %}
                            <div class="form-group">
                                <input type="text" id="fos_user_profile_form_firstname" name="title" required="required" class="form-control" value="{{shop.title}}">
                            </div>
                            {% else %}
                            <div class="form-group">
                                <input type="text" id="fos_user_profile_form_firstname" name="title" required="required" class="form-control">
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0">
                                <label class="control-label required" for="fos_user_profile_form_job">Задний фон</label>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                            <input type="file" id="fos_user_profile_form_job" name="back_image" required="required" class="form-control b-0">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required" for="fos_user_profile_form_email">Адресс</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                            {% if shop.location %}
                            <div class="form-group"><input type="text" id="fos_user_profile_form_email"
                                    name="location" value="{{shop.location}}" required="required" class="form-control"></div>
                            {% else %}
                            <div class="form-group"><input type="text" id="fos_user_profile_form_email"
                                name="location" required="required" class="form-control"></div>
                            {% endif %}

                            <p class="xs-text">Адресс вашего кафе/ресторана</p>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label class="control-label required" for="fos_user_profile_form_description">О вас</label></p>
                        </div>
                        {% if shop.description %}
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                            <div class="form-group is-empty"><textarea id="fos_user_profile_form_description" name="description" required="required" class="form-control">{{ shop.description|safe }}</textarea></div>
                        </div>
                        {% else %}
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                            <div class="form-group is-empty"><textarea id="fos_user_profile_form_description" name="description" required="required" class="form-control"></textarea></div>
                        </div>
                        {% endif %}

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label class="control-label required" for="fos_user_profile_form_description">Выберите дизайн вашего магазина</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                            <div class="form-group is-empty d-flex">
                                <button class="btn btn-default w-50">
                                    <img class="w-100" src="{% static '/assets/img/banner/banner-2.jpg' %}" alt="">
                                </button>
                                <button class="btn btn-default w-50">
                                    <img class="w-100" src="{% static '/assets/img/banner/banner-2.jpg' %}" alt="">
                                </button>
                                <button class="btn btn-default w-50">
                                    <img class="w-100" src="{% static '/assets/img/banner/banner-2.jpg' %}" alt="">
                                </button>
                                <button class="btn btn-default w-50">
                                    <img class="w-100" src="{% static '/assets/img/banner/banner-2.jpg' %}" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">

                </div>
                <input type="submit" class="btn btn-danger btn-lg pull-right w-100 top-20 bot-40" value="Сохранить">



            </form>

        </div>
    </div>


    <script>
        function initialize() {
            // Create the search box and link it to the UI element.
            var input = document.getElementById('location');
            var searchBox = new google.maps.places.SearchBox(input);

            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            //searchBox.addListener('places_changed', function() {
            //  console.log("ok")
            //});
        }
    </script>


{% include 'include/footer.html' %}
{% endblock %}