{% extends 'include/homepage.html' %}
{% load static i18n %}
{% block content %}
{% include 'include/header.html' %}
    <div
      class="container-fluid full-input"
      style="position: absolute; top: 40px; z-index: 200; text-align: center"
    >
      <div class="container"></div>
    </div>

    <div class="container-fluid">
      <div class="container-fluid bg-hospitality" style="background: url({{ hospitaly.image.url }});">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          style="background-color: rgba(0, 0, 0, 0.4); min-height: 500px"
        >
          <h1 style="margin-top: 200px; color: #fff"><b>{{ hospitaly.title }}</b></h1>
          <div class="container profil-content">
            <p class="color-white">
             {{ hospitaly.descriptions }}
            </p>
          </div>
        </div>
      </div>

      <div class="container testa">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center profil-content top-20">
          <h3>{{ hospitaly.quests_title }}</h3>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-estimation profil-content top-20 bot-40"
        >
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-lg-12 col-sm-4 col-md-4 col-lg-4 profil-content">
              <h3>{{ hospitaly.quests_all|safe }}</h3>
              <!-- <p>
                Through our service, you will receive one or more guests. By definition, those
                guests are not like you and may adopt behaviours that might shock you.
              </p> -->
            </div>
            <div class="col-lg-12 col-sm-4 col-md-4 col-lg-4 profil-content">
              <h3>{{ hospitaly.quests_all2|safe }}</h3>
              <!-- <p>
                If the demand is expressed by the guest, don’t hesitate to describe completely and
                in a non wrongful way the ingredients and drink used during the meal. This will
                allow the guest to see the quality of the ingredients you are using, or the
                uniqueness of your recipes.
              </p> -->
            </div>
            <div class="col-lg-12 col-sm-4 col-md-4 col-lg-4 profil-content">
              <h3>{{ hospitaly.quests_all3|safe }}</h3>
              <!-- <p>
                Hosts join a community that like to meet new people. Homemeal will provide you with
                authentic moments around a table..
              </p> -->
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12 profil-content">
              <a href="{% url 'login' %}">
                <button type="submit" class="btn btn-default btn-lg full-input">
                  {% trans 'Начать' %}
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>

    {% include 'include/footer.html' %}
    {% endblock %}
