{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div
      class="container-fluid full-input"
      style="position: absolute; top: 40px; z-index: 200; text-align: center"
    >
      <div class="container"></div>
    </div>

    <div class="container-fluid">
      <div class="container-fluid bg-safe">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          style="background-color: rgba(0, 0, 0, 0.4); min-height: 500px"
        >
          <h1 style="margin-top: 200px; color: #fff"><b>SHARE A HOMEMEAL EXPERIENCE.</b></h1>
          <h4 style="color: #fff; padding: 20px">
            Book a table at a local host house, and go eat by yourself or with friends!
          </h4>
        </div>
      </div>

      <div class="container testa bot-40">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bg-estimation top-20 home-box-border-space"
          >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center bot-20 top-10">
              <h3 class="top-10"><b>Travel to other countries</b></h3>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
              <img class="img-responsive" src="/assets/images/home/img-travelother.jpg" />
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12 profil-content">
              <p>
                One of our main standards is to respect the different cultures with tolerance,
                acceptance and hospitality. This is why Homemeal is your best option when traveling
                to different places, since food gathers a big amount of culture.<br />Trips to other
                countries are based on submerging in other cultures that you don’t know, and trying
                to experience their values with authenticity. If these principals are what you are
                looking for when you land somewhere new, Homemeal can help you enjoy other cultures
                at its finest. When you travel somewhere different, don’t hesitate in using out
                platform to go meet the locals and taste the truly homemade food of the region.
              </p>
            </div>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bg-estimation top-20 home-box-border-space"
          >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center bot-20 top-10">
              <h3 class="top-10"><b>Private meals</b></h3>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
              <img class="img-responsive" src="/assets/images/home/img-private-meals2.jpg" />
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12 profil-content">
              <p>
                Homemeal’s core concept is based on gathering different people around a table to let
                them enjoy the flavours of different gastronomic cultures while they have a good
                time meeting new friends. This is why you can operate as a private host who opens
                his or her house to offer people a taste of your best meals, or you can operate as a
                new guest asking for a reservation at the place that you prefer in your area.<br />Whether
                you cook or you make a reservation, you will always find a great time with new
                people and enjoy company while you have a delicious homemade meal. You can use this
                tool from all parts of the world!
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bg-estimation top-20 home-box-border-space"
          >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center bot-20 top-10">
              <h3 class="top-10"><b>Larger events</b></h3>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
              <img class="img-responsive" src="/assets/images/home/img-larger-events.jpg" />
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12 profil-content">
              <p>
                Maybe the food in itself is not that important to you. Maybe your thing is to throw
                the most amazing parties and organizing the most incredible events. Then, Homemeal
                is also your place.<br />Homemeal allows you to create an event to invite people
                over to maybe watch an interesting basketball match on Sunday, or maybe you prefer
                to organize a party for Valentine’s Day. You might have an unbelievable artistic
                performance that you want everyone to see.<br />Whatever you are willing to share
                with the world, you can do it with Homemeal!
              </p>
            </div>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bg-estimation top-20 home-box-border-space"
          >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center bot-20 top-10">
              <h3 class="top-10"><b>Cooking classes</b></h3>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
              <img class="img-responsive" src="/assets/images/home/img-cooking-classes2.jpg" />
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12 profil-content">
              <p>
                Homemeal is much more than connecting particulars to enjoy a meal, since you can
                learn as well. If what you are looking for is to find some cooking classes, Homemeal
                offers many hosts willing to do it.<br />Make a reservation for the cooking class
                that you prefer and speak with the teacher in order to invite him or her to your
                place for the lesson to start, or join a group of people with the same desire as you
                and go together to the teacher’s place.<br />If your case was to be the teacher,
                don’t hesitate in joining in our web and create your own recipes to show to your
                future students.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center profil-content top-20">
          <h3>HOMEMEAL : HOW DOES IT WORK?</h3>
        </div>
        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bg-estimation profil-content top-20 home-box-border-space"
        >
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center profil-content">
            <h3><b>FOR THE GUESTS</b></h3>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12 col-lg-6 profil-content">
            <h3><i class="fa fa-search" aria-hidden="true"></i><br />Find a publication</h3>
            <p>
              Pick a place of your choice and discover our Homemeal hosts with the experiences that
              they offer: a view on the Eiffel Tower, a wine tasting on a Parisian rooftop… Just
              pick what you want!
            </p>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12 col-lg-6 profil-content">
            <h3>
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i><br />Make a reservation with
              a host
            </h3>
            <p>
              When you have made up your mind, just pick a publication and then click on “Ask for a
              reservation”. Your host will be alerted and you will be able to communicate directly
              with him or her.<br />
            </p>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12 profil-content">
            <h3><i class="fa fa-cutlery" aria-hidden="true"></i><br />Go to your reservation</h3>
            <p>
              All that is left to do is enjoy! Discover the different cultures and ambiances offered
              by our Homemeal host, and have the taste of authentic human moment.
            </p>
            <br />
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12 profil-content">
            <a href="./search/index.html">
              <button type="submit" class="btn btn-default btn-lg full-input">
                Look for a host table
              </button>
            </a>
          </div>
        </div>

        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bg-estimation profil-content top-20 home-box-border-space"
        >
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center profil-content">
            <h3><b>FOR THE HOSTS</b></h3>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 profil-content">
            <h3><i class="fa fa-file-text-o" aria-hidden="true"></i><br />Propose a meal</h3>
            <p>
              You’d like to share the cook that you like with people coming from everywhere? On
              Homemeal, click on “Become a host” and offer the experience that you want. You will
              just then have to put a description and put your publication online!
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 profil-content">
            <h3>
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i><br />Handle your
              publications
            </h3>
            <p>
              When you receive demands, handle your reservations as you want: communicate with your
              guests and choose who you want to receive over. Once you agreed on a certain meal,
              don’t hesitate to go further in the discussion, sharing good adresses etc…
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">
            <h3>
              <i class="fa fa-cutlery" aria-hidden="true"></i><br />
              Welcome your guests
            </h3>
            <p>
              It’s the D-Day! A true moment of authenticity and sharing is awaiting… Discover new
              cultures in order to live a unique experience. We will send you your payment the day
              after by wire-transfer.
            </p>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12 profil-content">
            <a href="./host/index.html">
              <button type="submit" class="btn btn-default btn-lg full-input">
                Start to receive
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>

    {% include 'include/footer.html' %}
    {% endblock %}
