{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div
      class="container-fluid full-input"
      style="position: absolute; top: 40px; z-index: 200; text-align: center"
    >
      <div class="container"></div>
    </div>

    <div class="container-fluid bg-estimation bg-100">
      <div class="container-fluid bg-hospitality">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          style="background-color: rgba(0, 0, 0, 0.4); min-height: 500px"
        >
          <h1 style="margin-top: 200px; color: #fff"><b>Press</b></h1>
        </div>
      </div>

      <div class="container">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-estimation profil-content box-border top-40 bot-80 hm-align-center"
        >
          <p class="top-40 bot-40">
            <i class="fa fa-newspaper-o fa-4x" aria-hidden="true" style="color: #484848"></i><br />
            {% trans 'По любым вопросам, касающимся прессы, пожалуйста, свяжитесь с нами по 
            следующему адресу электронной почты: contact@homemeal.com' %}
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>

  {% include 'include/footer.html' %}
  {% endblock %}
