{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div
      class="container-fluid full-input"
      style="position: absolute; top: 40px; z-index: 200; text-align: center"
    >
      <div class="container"></div>
    </div>

    <div class="container-fluid bg-estimation">
      <div class="container-fluid bg-rules">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          style="background-color: rgba(0, 0, 0, 0.4); min-height: 500px"
        >
          <h1 style="margin-top: 200px; color: #fff"><b>PRIZE COMPETITION</b></h1>
          <p style="color: #fff">Earn rewards by participating in our competitions</p>
        </div>
      </div>

      <div class="container">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-estimation bot-80 top-40 profil-content box-border bg-tips"
        >
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hm-align-center profil-content">
            <img class="img-responsive shadow-box" src="/assets/images/home/jeux-fb2.jpg" />
            <div
              class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content top-20 hm-align-center"
            >
              <span class="xs-txt">Rules : </span>
              <a href="/assets/images/home/iPad-rules.pdf"
                ><img src="/assets/images/home/flag-en.png"
              /></a>
            </div>
          </div>

          <div class="col-lg-12 col-sm-4 col-md-4 col-lg-4 hm-align-center profil-content">
            <img
              class="img-responsive shadow-box box-border"
              src="/assets/images/home/jeux-fb1.jpg"
            />
            <div
              class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content top-20 hm-align-center"
            >
              <span class="xs-txt">Rules : </span>
              <a href="/assets/images/home/jeu-ipad.pdf"
                ><img src="/assets/images/home/flag-fr.png"
              /></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hm-align-center profil-content">
            <div
              class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center profil-content top-20"
            >
              <h3><b>Facebook Lottery Draw - From 01/09/2017 to 05/10/2017</b></h3>
              <p>
                <b
                  >Homemeal.com vous fait gagner un iPad Pro pour vous accompagner dans la
                  préparation de vos recettes maison !</b
                >
              </p>
              <p>
                TO PARTICIPATE IN THE DRAW : <br /><br />
                • Like our Facebook page<br />
                • Share the publication
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>

    {% include 'include/footer.html' %}
    {% endblock %}
