{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div class="container-fluid bg-estimation bg-100">
       
        <form method="POST">
            {% csrf_token %}
            
            <div class="container step" id="step_1">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
                    <div class="bg-50">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 has-feedback-right-connexion bot-20 meal-label">

                            <div class="form-group"><label class="control-label required" for="form_meal_type">{{ index_host.question_1 }}</label><select id="form_meal_type" name="category" class="form-control">
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                                </select> 
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 has-feedback-right-connexion bot-40 meal-label">
                            <div class="form-group">
                                <label class="control-label required" for="form_meal_cook_type">{{ index_host.question_2 }}</label>
                                <select id="form_meal_cook_type" name="kind" class="form-control">
                                    {% for kind in kinds %}
                                    <option value="{{kind.id}}">{{kind.name}}</option>
                                    {% endfor %}
                                </select> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step " id="step_2">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">

                    <div class="bg-50">
                        <h3 class="top-40 bot-20">{{ index_host.question_3|safe }}</h3>
                        <div class="form-group has-feedback-right-connexion bottom-space is-empty">

                            <input type="text" id="search" name="title" class="form-control pac-target-input" placeholder="Название продукта" autocomplete="off">
                        </div>
                        <div class="form-group has-feedback-right-connexion">

                            <textarea id="form_description" name="description" class="descrip-text form-control" style="resize: none;"
                                placeholder="Описание продукта"></textarea>

                        </div>
                    </div>  
                </div>
            </div>
            <div class="container step" id="step_6">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
                    <div class="bg-50">
                        <h3 class="top-40 bot-20">{{ index_host.question_8 }}</h3>
                        <div class="form-group has-feedback-right-connexion">
                            <input type="number" placeholder="Цена (в долларах)" id="form_numberMax" name="price"  class="form-control" >
                        </div>
                        <h3 class="top-40 bot-20">{{ index_host.question_9 }}</h3>
                        <div class="form-group has-feedback-right-connexion">
                            <input type="number" placeholder="Цена доаставки (в долларах)" id="form_numberMin" name="delivery_price"  class="form-control" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_7">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">

                    <div class="bg-50">
                        <h3 class="top-40 bot-20"> {{ index_host.question_11 }}</h3>
                        <div class="form-group has-feedback-right-connexion">

                            <input name="question_11" type="file" id="form_name" multiple >
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="container step d-none bg-estimation" id="step_8">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-80">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-40 bot-20 profil-content">
                        <h3> {{ index_host.question_13 }}</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="profil-content col-xs-12 col-sm-12 col-md-6 col-lg-6 photo-box">
                            <div class="photo-btn">
                                <a href="/en/host/pic/del/392" class="delete"><i class="fa fa-trash-o fa-2x"></i></a>
                            </div>
                            <img class="img-responsive img-rounded" src="https://www.homemeal.com/media/cache/my_thumb/uploads/mealpics/a6735696bcd5dfc809d8ada1f7916f5bcf7b429a.png' %}" width="100%">
                        </div>
                        <div class="profil-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            
                            <p>{{ index_host.question_14|safe }} </p>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">


                                <input type="file" id="form_name" 
                                    class="bot-20 profil-content inputfilephotoinscription" onchange="readURL(this)"
                                    style="display:none">

                                <img class="photoinscription fsm-thumbnail img-responsive" style="z-index:1">
                                <button class="btn btn-default btn-pink-photo" id="buttonFileSelect"
                                    onclick="selectPhoto(event)"><span class="glyphicon glyphicon-picture"></span>
                                    </button>


                                <!-- <button type="submit" name="save_image_host"
                                    class="btn btn-danger btn-lg pull-right btn">Add</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_9">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">

                    <div class="bg-50">
                        <h3 class="top-40 bot-40">{{ index_host.question_15 }}</h3>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-hm profil-content bot-40">
                            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 profil-content">
                                <div class="form-group has-feedback-right-connexion min-input is-empty">
                                    <div class="input-group date" data-toggle="datetimepicker">
                                        <input type="text" id="form_date" name="form[date]"  class="date-fr form-control" data-dtp="dtp_GVFmI">
                                        <span class="input-group-addon"><span class="fa fa-calendar" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 profil-content">
                                <div class="form-group has-feedback-right-connexion min-input">
                                    <!-- <button type="submit" id="form_save" name="form[save]" class="btn btn-warning btn-lg btn-add-date full-input btn">Add</button> -->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xs-text profil-content">
                                {{ index_host.question_16|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container step d-none" id="step_10">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
    
                    <div class="bg-50">
                        <p>{{ index_host.question_17|safe }}</p>
                   
                    </div>
                </div>
            </div>
            
            <div class="container step d-none" id="step_11">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
                    <div class="bg-50">
                        <p>{{ index_host.question_18|safe }}</p>
                    </div>
                </div>
            </div> 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 option-space top-border">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span id="return" class="btn btn-empty btn-lg pull-left" onclick="showPrevious()" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{ index_host.button_3 }}</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button id="next" class="btn btn-danger btn-lg pull-right" onclick="showNext()" type="button">&nbsp; {{ index_host.button_2 }}</button>
                        <button id="submit_q" class="btn btn-danger btn-lg pull-right d-none" type="submit"><i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp; Подтвердить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

 
{% include 'include/footer.html' %}
{% endblock %}