{% extends 'include/homepage.html' %} {% load static %} {% block content %}
  {% include 'include/header.html' %}
  <style>
    option {
      padding-right: 15px;
    }
    
    #step_8 input[type='text'] {
      background-color: #fff;
      border: 0;
      border-radius: 2px;
      box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
      margin: 10px;
      padding: 0 0.5em;
      font: 400 18px Roboto, Arial, sans-serif;
      overflow: hidden;
      line-height: 40px;
      margin-right: 0;
      min-width: 25%;
    }
    
    #step_8 input[type='button'] {
      background-color: #fff;
      border: 0;
      border-radius: 2px;
      box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
      margin: 10px;
      padding: 0 0.5em;
      font: 400 18px Roboto, Arial, sans-serif;
      overflow: hidden;
      height: 40px;
      cursor: pointer;
      margin-left: 5px;
    }
    
    #step_8 input[type='button']:hover {
      background: rgb(235, 235, 235);
    }
    
    #step_8 input[type='button'].button-primary {
      background-color: #1a73e8;
      color: white;
    }
    
    #step_8 input[type='button'].button-primary:hover {
      background-color: #1765cc;
    }
    
    #step_8 input[type='button'].button-secondary {
      background-color: white;
      color: #1a73e8;
    }
    
    #step_8 input[type='button'].button-secondary:hover {
      background-color: #d2e3fc;
    }
  </style>

  <div class="container-fluid bg-estimation bg-100">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container-fluid" style="
        background: url({% static 'assets/images/bg.png' %}) center center;
        background-size: cover;
      ">
        <div class="container profil-content">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="dh-hover-box">
              <h1 id="h1" class="text-center"></h1>
              <br /><br />
              <div id="description" style="font-size: 22px" class="text-black-50 text-center"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container step" id="step_1">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
          <div class="bg-50">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 has-feedback-right-connexion bot-20 meal-label">
              <div class="form-group">
                <label class="control-label required" for="form_meal_type">{{ index_host.question_1 }}</label><select required id="form_meal_type" style="
                  border: 1px solid #000;
                  border-radius: 15px !important;
                  padding-right: 30px !important ;
                  -moz-appearance: none;
                  appearance: none;
                  background-image: url('{% static 'assets/images/arrow.png' %}');
                  background-repeat: no-repeat;
                  background-position: 95% 50%;
                  cursor: pointer !important;
                " name="category" class="form-control">
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 has-feedback-right-connexion bot-40 meal-label">
              <div class="form-group">
                <label class="control-label required" for="form_meal_cook_type">{{ index_host.question_2 }}</label>
                <select required id="form_meal_cook_type" style="
                  border: 1px solid #000;
                  border-radius: 15px !important;
                  padding-right: 30px !important ;
                  -moz-appearance: none;
                  appearance: none;
                  background-image: url('{% static 'assets/images/arrow.png' %}');
                  background-repeat: no-repeat;
                  background-position: 95% 50%;
                  cursor: pointer !important;
                " name="kind" class="form-control">
                  {% for kind in kinds %}
                    <option value="{{ kind.id }}">{{ kind.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container step" id="step_2">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
          <div class="bg-50">
            <h3 class="top-40 bot-20">{{ index_host.question_5 }}</h3>
            <div class="form-group has-feedback-right-connexion bottom-space is-empty">
              <input required type="text" id="search" style="
                border: 1px solid #000;
                border-radius: 15px !important;
                padding-right: 15px !important ;
              " name="title" class="form-control pac-target-input" placeholder="Название продукта" autocomplete="off" />
            </div>
            <h3 class="top-40 bot-20">{{ index_host.question_6 }}</h3>

            <div class="form-group has-feedback-right-connexion">
              <textarea id="form_description" style="
                border: 1px solid #000;
                border-radius: 15px !important;
                padding-right: 15px !important ;
              " name="description" class="descrip-text form-control" style="resize: none" placeholder="Описание продукта" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="container step" id="step_3">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
          <div class="bg-50">
            <h3 class="top-40 bot-20">{{ index_host.question_3 }} за кг/грам и т.д.</h3>
            <div class="form-group has-feedback-right-connexion d-flex">
              <input required type="number" placeholder="Цена (в долларах)" id="form_numberMax" style="width:80% !important;min-width:80%;border: 1px solid #000; border-radius: 15px !important; padding-right: 15px !important ; " name="price" class="form-control" />
              <input required type="text" placeholder="кг/грам" id="form_numberMax" style="width:20% !important;min-width:20%;border: 1px solid #000; border-radius: 15px !important; padding-right: 15px !important ; " name="price" class="form-control" />
            </div>
            <h3 class="top-40 bot-20">{{ index_host.question_4 }} за милю/км</h3>
            <div class="form-group has-feedback-right-connexion d-flex">
              <input required type="number" placeholder="Цена доаставки (в долларах)" id="form_numberMax" style="width:80% !important;min-width:80%;border: 1px solid #000; border-radius: 15px !important; padding-right: 15px !important ; " name="delivery_price" class="form-control" />
              <input required type="text" placeholder="км\миля" id="form_numberMax" style="width:20% !important;min-width:20%;border: 1px solid #000; border-radius: 15px !important; padding-right: 15px !important ; " name="price" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-80">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-40 bot-20 profil-content">
            <h3>{{ index_host.question_7 }}</h3>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="profil-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">
                <input required type="file" style="
                  border: 1px solid #000;
                  border-radius: 15px !important;
                  padding-right: 15px !important ;
                " name="image" id="form_name" class="bot-20 profil-content inputfilephotoinscription" onchange="readURL(this)" style="display: none" />

                <img class="photoinscription fsm-thumbnail img-responsive" style="z-index: 1" />
                <button class="btn btn-default btn-pink-photo w-75" id="buttonFileSelect" type="button" onclick="selectPhoto(event)"><span class="glyphicon glyphicon-picture"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-80">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-40 bot-20 profil-content">
            <h3>{{ index_host.question_8 }}</h3>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="profil-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">
                <input required type="file" style="
                  border: 1px solid #000;
                  border-radius: 15px !important;
                  padding-right: 15px !important ;
                " name="images" id="form_name" multiple class="bot-20 profil-content" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_6">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-80">
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 has-feedback-right-connexion bot-40 meal-label">
            <div class="form-group">
              <label class="control-label required" for="form_meal_cook_type">Какой тип доставки у этого продукта</label>
              <select required id="form_meal_cook_type" style="border: 1px solid #000;border-radius: 15px !important;padding-right: 15px !important;" name="delivery_type" class="form-control">
                <option value="in_city">in city</option>
                <option value="in_state">in state</option>
                <option value="no_delivery">No delivery</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_7">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-80">
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 has-feedback-right-connexion bot-40 meal-label">
            <div class="form-group">
              <label class="control-label required" for="form_meal_cook_type">Дата доступности продукта</label>
              <div class="bottom-space is-empty" style="display: flex">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-hm profil-content bot-40" bis_skin_checked="1">
                  <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 profil-content" bis_skin_checked="1">
                    <div class="form-group has-feedback-right-connexion min-input is-empty" bis_skin_checked="1">
                      <div class="input-group date" data-toggle="datetimepicker" bis_skin_checked="1">
                        <input type="text" id="form_date" name="data" class="date-fr form-control" data-dtp="dtp_8MTSu" style="
                          border-top-right-radius: 0 !important;
                          border-bottom-right-radius: 0 !important;
                        " /><span class="input-group-addon"><span class="fa fa-calendar" aria-hidden="true"></span></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 profil-content" bis_skin_checked="1">
                    <div class="form-group has-feedback-right-connexion min-input" bis_skin_checked="1">
                      <button type="button" id="form_save" name="form[save]" class="btn btn-warning btn-lg btn-add-date full-input btn">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_8">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-80">
          <div class="form-group">
            <label class="control-label required" for="form_meal_cook_type" style=" text-align: center; margin: 10px 0; width: 100%;  font-size: 30px; ">Укажите свой адрес</label>
            <input type="text" id="search2" name="question_3" class="form-control pac-target-input" placeholder="Введите местоположение" autocomplete="off" />
          </div>
          <div class="bot-40 map-adik map" id="map"></div>
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_9">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content" bis_skin_checked="1">
          <div class="bg-80" bis_skin_checked="1">
            <h3 class="top-40 bot-20"><label class="control-label required">Is your meal following a specific diet?</label></h3>
            <div class="form-group has-feedback-right-connexion list-choice" bis_skin_checked="1">
              <div id="form_dietary" bis_skin_checked="1">
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_dietary_2" class>
                    <input type="checkbox" id="form_dietary_2" name="form[dietary][]" value="2" /><span class="checkbox-material"><span class="check"></span></span>
                    Kosher
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_dietary_3" class>
                    <input type="checkbox" id="form_dietary_3" name="form[dietary][]" value="3" /><span class="checkbox-material"><span class="check"></span></span>
                    Organic
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_dietary_4" class>
                    <input type="checkbox" id="form_dietary_4" name="form[dietary][]" value="4" /><span class="checkbox-material"><span class="check"></span></span>
                    Vegan
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_dietary_5" class>
                    <input type="checkbox" id="form_dietary_5" name="form[dietary][]" value="5" /><span class="checkbox-material"><span class="check"></span></span>
                    Vegetarian
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_dietary_6" class>
                    <input type="checkbox" id="form_dietary_6" name="form[dietary][]" value="6" /><span class="checkbox-material"><span class="check"></span></span>
                    Contains gluten
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_dietary_7" class>
                    <input type="checkbox" id="form_dietary_7" name="form[dietary][]" value="7" /><span class="checkbox-material"><span class="check"></span></span>
                    Hallal
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_dietary_8" class>
                    <input type="checkbox" id="form_dietary_8" name="form[dietary][]" value="8" /><span class="checkbox-material"><span class="check"></span></span>
                    Without pork
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_dietary_9" class>
                    <input type="checkbox" id="form_dietary_9" name="form[dietary][]" value="9" /><span class="checkbox-material"><span class="check"></span></span>
                    Without alcohol
                  </label>
                </div>
              </div>
            </div>

            <h3 class="top-40 bot-20"><label class="control-label required">Does your meal contain allergens?</label></h3>
            <div class="form-group has-feedback-right-connexion list-choice" bis_skin_checked="1">
              <div id="form_allergene" bis_skin_checked="1">
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_1" class>
                    <input type="checkbox" id="form_allergene_1" name="form[allergene][]" value="1" /><span class="checkbox-material"><span class="check"></span></span>
                    Lactose
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_2" class>
                    <input type="checkbox" id="form_allergene_2" name="form[allergene][]" value="2" /><span class="checkbox-material"><span class="check"></span></span>
                    Fish
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_3" class>
                    <input type="checkbox" id="form_allergene_3" name="form[allergene][]" value="3" /><span class="checkbox-material"><span class="check"></span></span>
                    Sesame
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_4" class>
                    <input type="checkbox" id="form_allergene_4" name="form[allergene][]" value="4" /><span class="checkbox-material"><span class="check"></span></span>
                    Gluten
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_5" class>
                    <input type="checkbox" id="form_allergene_5" name="form[allergene][]" value="5" /><span class="checkbox-material"><span class="check"></span></span>
                    Crustaceans
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_6" class>
                    <input type="checkbox" id="form_allergene_6" name="form[allergene][]" value="6" /><span class="checkbox-material"><span class="check"></span></span>
                    Walnuts
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_7" class>
                    <input type="checkbox" id="form_allergene_7" name="form[allergene][]" value="7" /><span class="checkbox-material"><span class="check"></span></span>
                    Eggs
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_8" class>
                    <input type="checkbox" id="form_allergene_8" name="form[allergene][]" value="8" /><span class="checkbox-material"><span class="check"></span></span>
                    Lupin
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_9" class>
                    <input type="checkbox" id="form_allergene_9" name="form[allergene][]" value="9" /><span class="checkbox-material"><span class="check"></span></span>
                    Soya
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_10" class>
                    <input type="checkbox" id="form_allergene_10" name="form[allergene][]" value="10" /><span class="checkbox-material"><span class="check"></span></span>
                    Peanut
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_11" class>
                    <input type="checkbox" id="form_allergene_11" name="form[allergene][]" value="11" /><span class="checkbox-material"><span class="check"></span></span>
                    Seafood
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_12" class>
                    <input type="checkbox" id="form_allergene_12" name="form[allergene][]" value="12" /><span class="checkbox-material"><span class="check"></span></span>
                    Nuts
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_13" class>
                    <input type="checkbox" id="form_allergene_13" name="form[allergene][]" value="13" /><span class="checkbox-material"><span class="check"></span></span>
                    Celery
                  </label>
                </div>
                <div class="checkbox" bis_skin_checked="1">
                  <label for="form_allergene_14" class>
                    <input type="checkbox" id="form_allergene_14" name="form[allergene][]" value="14" /><span class="checkbox-material"><span class="check"></span></span>
                    Mustard
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!--   <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          bis_skin_checked="1"
        >
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 option-space top-border"
            bis_skin_checked="1"
          >
            <div
              class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
              bis_skin_checked="1"
            >
              <a href="https://www.homemeal.com/en/host/host_meal_type/">
                <span class="btn btn-empty btn-lg pull-left"
                  ><i class="fa fa-arrow-left" aria-hidden="true"></i>
                  Return</span
                >
              </a>
            </div>
            <div
              class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
              bis_skin_checked="1"
            >
              <button
                type="submit"
                id="form_save"
                name="form[save]"
                class="btn btn-danger btn-lg pull-right name btn"
              >
                Next
              </button>
            </div>
          </div>
        </div>   -->
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_10">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content" bis_skin_checked="1">
          <div class="bg-80" bis_skin_checked="1">
            <h3 class="top-40 bot-20">What kind of additional services do you offer?</h3>
            <div id="form_equipments" class="widget-li profil-content bot-40" bis_skin_checked="1">
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_1" class>
                  <input type="checkbox" id="form_equipments_1" name="form[equipments][]" value="1" /><span class="checkbox-material"><span class="check"></span></span>
                  Children allowed
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_2" class>
                  <input type="checkbox" id="form_equipments_2" name="form[equipments][]" value="2" /><span class="checkbox-material"><span class="check"></span></span>
                  Access for disabled people
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_3" class>
                  <input type="checkbox" id="form_equipments_3" name="form[equipments][]" value="3" checked="checked" /><span class="checkbox-material"><span class="check"></span></span>
                  Smokers allowed
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_4" class>
                  <input type="checkbox" id="form_equipments_4" name="form[equipments][]" value="4" /><span class="checkbox-material"><span class="check"></span></span>
                  Pets allowed
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_5" class>
                  <input type="checkbox" id="form_equipments_5" name="form[equipments][]" value="5" /><span class="checkbox-material"><span class="check"></span></span>
                  Air conditioning
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_6" class>
                  <input type="checkbox" id="form_equipments_6" name="form[equipments][]" value="6" /><span class="checkbox-material"><span class="check"></span></span>
                  WiFi
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_7" class>
                  <input type="checkbox" id="form_equipments_7" name="form[equipments][]" value="7" /><span class="checkbox-material"><span class="check"></span></span>
                  Paid parking
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_8" class>
                  <input type="checkbox" id="form_equipments_8" name="form[equipments][]" value="8" /><span class="checkbox-material"><span class="check"></span></span>
                  Street parking
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_9" class>
                  <input type="checkbox" id="form_equipments_9" name="form[equipments][]" value="9" /><span class="checkbox-material"><span class="check"></span></span>
                  Taxi station
                </label>
              </div>
              <div class="checkbox" bis_skin_checked="1">
                <label for="form_equipments_10" class>
                  <input type="checkbox" id="form_equipments_10" name="form[equipments][]" value="10" /><span class="checkbox-material"><span class="check"></span></span>
                  Public transports
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_11">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content" bis_skin_checked="1">
          <div class="bg-80">
            <h3 class="top-40 bot-20">Engage yourself to maintain the event</h3>
            <p class="top-40 bot-20">Your announce has to correspond to your availability in terms of date and time, because guests can make a demande of reservation without asking your autorisation before.</p>
            <p>
              <b>Publications <b>without dates</b> will still be available during searches.<br />Users will have the possibility to ask you for a date for your service. Free to you to accept or refuse the request.</b>
            </p>

            <br />
            <p class="xs-text text-danger">
              Reservation demands are automatically closed <b>2 hours</b> before the beginning of the event.
            </p>
            <p></p>
            <p class="top-40 bot-40"></p>
            <button class="btn btn-default2 btn-lg full-input" type="button">
              <i class="fa fa-check fa-lg txt-white" aria-hidden="true"></i>
              Approve
            </button>
          </div>
        </div>
      </div>
      <div class="container step d-none bg-estimation" id="step_12">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content" bis_skin_checked="1">
          <div class="bg-80">
            <h3 class="top-40 bot-20">Engage yourself to maintain the event</h3>
            <p class="top-40 bot-20">Your announce has to correspond to your availability in terms of date and time, because guests can make a demande of reservation without asking your autorisation before.</p>
            <p>
              <b>Publications <b>without dates</b> will still be available during searches.<br />Users will have the possibility to ask you for a date for your service. Free to you to accept or refuse the request.</b>
            </p>

            <br />
            <p class="xs-text text-danger">
              Reservation demands are automatically closed <b>2 hours</b> before the beginning of the event.
            </p>
            <p></p>
            <p class="top-40 bot-40"></p>
            <button class="btn btn-default2 btn-lg full-input" type="button">
              <i class="fa fa-check fa-lg txt-white" aria-hidden="true"></i>
              Approve
            </button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content" style="position: fixed; bottom: 0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 option-space top-border">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span id="return" class="btn btn-empty btn-lg pull-left" onclick="showPrevious()" type="button">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              {{ index_host.button_3 }}
            </span>
            <a id="back" class="btn btn-empty btn-lg pull-left" onclick="back2()" type="button">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              {{ index_host.button_3 }}
            </a>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button id="next" class="btn btn-danger btn-lg pull-right" onclick="showNext()" type="button">&nbsp; {{ index_host.button_2 }}</button>
            <button id="submit_q" class="btn btn-danger btn-lg pull-right d-none" type="submit">
              <i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;
              Подтвердить
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
<input type="text" id="coordinat_map_product" style="opacity: 0;" disabled>
  <script>
    function initialize() {
      let input = document.getElementById('location')
      let searchBox = new google.maps.places.SearchBox(input)
    }
    function selectPhoto(e) {
      e.preventDefault()
      $('.inputfilephotoinscription').click()
    }
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader()
        reader.onload = function (e) {
          $('.photoinscription').attr('src', e.target.result)
          sessionStorage.setItem('photoinscriptionsrc', e.target.result)
        }
        reader.readAsDataURL(input.files[0])
      }
    }
  </script>
  
  <script>
    let map
    let service
    let infowindow
    let input = document.getElementById('search2')
    
    function initMap() {
      let center = { lat: -34.397, lng: 150.644 }
      map = new google.maps.Map(document.getElementById('map'), {
        center: center,
        zoom: 8
      })
      let searchBox = new google.maps.places.SearchBox(input)
    
      map.addListener('bounds_changed', function () {
        console.log(map.getBounds(),'wcnwiociwncj');
        document.getElementById('coordinat_map_product').value = map.getBounds().Jh.lo+','+map.getBounds().Zh.hi
        searchBox.setBounds(map.getBounds())
      })
    
      let markers = []
      searchBox.addListener('places_changed', function () {
        let places = searchBox.getPlaces()
    
        if (places.length == 0) {
          return
        }
    
        markers.forEach(function (marker) {
          marker.setMap(null)
        })
        markers = []
    
        let bounds = new google.maps.LatLngBounds()
        places.forEach(function (place) {
          if (!place.geometry) {
            console.log('Returned place contains no geometry')
            return
          }
          let icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          }
    
          markers.push(
            new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            })
          )
    
          if (place.geometry.viewport) {
            bounds.union(place.geometry.viewport)
          } else {
            bounds.extend(place.geometry.location)
          }
        })
        map.fitBounds(bounds)
      })
    }
    input.addEventListener('change', () => {
      initMap()
    })
  </script>
  {% include 'include/footer.html' %}
{% endblock %}
