{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
<div class="contaibner-fluid bg-estimation bottom-border">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-pics-head" class="carousel slide" data-ride="carousel">
            <div class="detail-title-lg visible-lg">
                <h4 class="top-10 bot-10"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;
                    Make a reservation at <span class="name">Mari</span> pour :</h4>
                <h1 class="hm-align-center">• ASDAS •</h1>
            </div>
            <div class="detail-title-md visible-md">
                <h4 class="top-10 bot-10"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;
                    Make a reservation at <span class="name">Mari</span> pour :</h4>
                <h1 class="hm-align-center">• ASDAS •</h1>
            </div>
            <div class="detail-title-sm visible-sm">
                <h4 class="top-10 bot-10"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;
                    Make a reservation at <span class="name">Mari</span> pour :</h4>
                <h1 class="hm-align-center">• ASDAS •</h1>
            </div>
            <div class="detail-title-xs visible-xs">
                <p class="top-10 bot-10"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;
                    Make a reservation at <span class="name">Mari</span> pour :</p>
                <h3 class="hm-align-center">ASDAS</h3>
            </div>

            <div class="carousel-inner hm-carousel2" role="listbox">


                <div class="item  active ">
                    <img class="img-responsive full-input img-blk visible-lg visible-md"
                        src="https://www.homemeal.com/media/cache/head_profil/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
                    <img class="img-responsive full-input img-blk visible-sm"
                        src="https://www.homemeal.com/media/cache/main/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
                    <img class="img-responsive full-input img-blk visible-xs"
                        src="https://www.homemeal.com/media/cache/ask_profil/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profil-content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-20 xs-txt">

                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 flat-profil profil-content">
                        <a href="https://www.homemeal.com/en/public/2345"><img
                                class="img-circle img-switch shadow-box2 img-responsive top-20"
                                src="https://www.homemeal.com/media/cache/my_profil/uploads/pics/profil.jpg"></a>
                    </div>

                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 hm-align-center top-20">

                        <i>
                            <h4 class="name bot-20">" Meet Mari ! "</h4>
                        </i>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shadow-box bg-estimation detail-box">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center top-20">
                                <div class="rating-container rating-sm rating-animate">
                                    <div class="rating-stars"><span class="filled-stars" style="width: 0%;"><span
                                                class="star"><i class="glyphicon glyphicon-star"></i></span><span
                                                class="star"><i class="glyphicon glyphicon-star"></i></span><span
                                                class="star"><i class="glyphicon glyphicon-star"></i></span><span
                                                class="star"><i class="glyphicon glyphicon-star"></i></span><span
                                                class="star"><i class="glyphicon glyphicon-star"></i></span></span><input value=""
                                            type="text" class="rating pull-right top-10 rating-input" data-min="0"
                                            data-max="5" data-step="1" data-size="sm" title=" "
                                            data-show-caption="false" data-show-clear="false"
                                            data-hover-enabled="false"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-10 top-10">
                                <i class="fa fa-map-marker fa-lg text-default" aria-hidden="true"></i> &nbsp;<span
                                    class="xs-text"><b>Place of the reception</b></span><br>


                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <i class="fa fa-cutlery text-default" aria-hidden="true"></i> &nbsp;<span
                                    class="xs-text"><b>Type de bien</b></span><br>
                                maison
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <i class="fa fa-users text-default" aria-hidden="true"></i> &nbsp;<span
                                    class="xs-text"><b>Guests</b></span><br>
                                de to 2
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-10 padd-5">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padd-5">
                                    <a href="https://www.homemeal.com/en/chats/2345"
                                        class="btn btn-default btn-lg full-input">Contact</a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padd-5">
                                    <a href="https://www.homemeal.com/en/public/2345"
                                        class="btn btn-default btn-lg full-input">See profile</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-20">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content top-border">
                        <h4 class="top-10"><i class="fa fa-pencil-square-o text-danger top-10" aria-hidden="true"></i>
                            &nbsp;Description of publication :</h4><br>
                        <p>ASDASD</p>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-20">
                        <div id="profil-pics" class="carousel slide top-10" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#profil-pics" data-slide-to="0" class="active"></li>
                                <li data-target="#profil-pics" data-slide-to="1"></li>
                                <li data-target="#profil-pics" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner hm-carousel" role="listbox">
                                <div class="item  active ">
                                    <img class="img-responsive img-rounded hidden-xs"
                                        src="https://www.homemeal.com/media/cache/ask_profil/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
                                    <img class="img-responsive img-rounded visible-xs"
                                        src="https://www.homemeal.com/media/cache/my_thumb/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">
                                </div>
                                <a class="left carousel-control" href="#profil-pics" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#profil-pics" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content detail-box bg-hm">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h4 class="top-10"><i class="fa fa-pagelines text-danger" aria-hidden="true"></i>
                                &nbsp;Additional Information :</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xs-text">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 profil-content">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-10">
                                    <b class="top-10">Optional services</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bottom-border bot-10">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 profil-content">
                            <p><b>Sum-up :</b></p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 profil-content">
                                <ul class="list-unstyled xs-text">
                                    <li>Service : <b>maison</b></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 profil-content">
                                <ul class="list-unstyled xs-text">

                                    <li>Min. guest(s): <b></b></li>
                                    <li>Max. guests: <b>2</b></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="maploc" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-20 bot-10">
                        <h3 class="bot-20">Place of reception</h3>
                        <i class="fa fa-circle-thin fa-2x text-danger" aria-hidden="true"></i> &nbsp;Indique la
                        prestation :<br>
                        <b class="xs-txt" style="margin-left:42px;">The exact place of the reception will be
                            available for you to see once the host has confirmed your reservation</b>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="img-responsive" src="/assets/area.png" style="position:absolute; z-index:2;">

                            <img class="img-responsive" width="100%" src="https://www.homemeal.com/en/map/2345"
                                style="margin:0;">
                        </div>
                    </div>

                </div>

                <span id="invit-comment">&nbsp;</span>
            </div>
        </div>




        <div id="sticker" class="col-md-4 col-lg-4 box-border visible-md visible-lg"
            style="z-index: 100; margin-top: 74px;">
            <div class="col-md-12 col-lg-12 cart-title2 blk-header">
                <div class="col-md-6 col-lg-6">
                    <h2 class="top-10" style="margin-bottom:15px;">23<span style="font-size:18px;"> €</span> </h2>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                    <h5 style="margin-top:20px;">par nuit</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cart-title">

                <div class="col-md-7 col-lg-7 bottom-border" style="padding-bottom:10px;">
                    <p>Détails</p>
                </div>
                <div class="col-md-5 col-lg-5 text-right bottom-border" style="padding-bottom:10px;">
                    <p>Price</p>
                </div>
                <div class="col-md-9 col-lg-9">
                    <p>ASDAS</p>
                </div>
                <div class="col-md-3 col-lg-3 text-right">
                    <p>23 €</p>
                </div>
                <div class="col-md-10 col-lg-10">
                    <p>Service fees</p>
                </div>
                <div class="col-md-2 col-lg-2 text-right">
                    <p>4 €</p>
                </div>
                <div class="col-md-9 col-lg-9">
                    <p></p>
                    <h4><b>Total</b></h4>
                    <p></p>
                </div>
                <div class="col-md-3 col-lg-3 text-right">
                    <p></p>
                    <h4><b>27 €</b></h4>
                    <p></p>
                </div>


                <form name="form" method="post">
                    <div class="col-xs-12 col-sm-12 text-right">
                        <p>

                        </p>
                        <div id="form">
                            <div class="form-group is-empty"><label class="control-label required"
                                    for="form_dateD">Arrivée</label><input type="text" id="form_dateD"
                                    name="form[dateD]" required="required"
                                    class="form_dateD form-control hasDatepicker"> </div>
                            <div class="form-group is-empty"><label class="control-label required"
                                    for="form_dateF">Départ</label><input type="text" id="form_dateF" name="form[dateF]"
                                    required="required" class="form_dateF form-control hasDatepicker"> </div>
                            <div class="form-group is-empty"><label class="control-label required"
                                    for="form_number">Nombre de personne</label><input type="number" id="form_number"
                                    name="form[number]" required="required" class="form-control">
                            </div><input type="hidden" id="form__token" name="form[_token]"
                                value="SIXsyLCeJAr8ZjWHX73Gz_kJWyP6jKq-qAilPtWHpFg">
                        </div>

                        <p></p>
                    </div>

                    <div class="col-md-12 col-lg-12 top-20">
                        <input type="submit" value="Booking" class="btn btn-danger btn-lg full-input">
                    </div>
                    <div class="col-md-12 col-lg-12 xs-text">
                        <p class="estimation-title" style="margin-top:0;"><i class="fa fa-check" aria-hidden="true"></i>
                            &nbsp;You will receive an answer from the host within 24
                            hours of the request<br><br>
                            <i class="fa fa-check" aria-hidden="true"></i> &nbsp;Your credit card will be debited.
                            You will be refunded in case of refusal by the host
                        </p>
                    </div>
                </form>





            </div>
        </div>

        <div class="col-xs-12 col-sm-12 profil-content visible-xs visible-sm"
            style="z-index:200; position:fixed; bottom:10px; left:10px;">
            <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal"
                style="border-radius:20px; border:solid 1px #ddd;">
                <span style="font-size:8px;">DEMAND FROM</span><br>
                <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i><br>
                <span style="font-size:8px;">RESERVATION</span>
            </a>
        </div>
        <div id="myModal" class="modal fade profil-content col-xs-12 col-sm-12" role="dialog" style="z-index:2000;">
            <div class="col-xs-12 col-sm-12 bg-estimation">
                <p><a class="pull-right profil-content" data-dismiss="modal" style="color:#484848">Close <i
                            class="fa fa-times" aria-hidden="true"></i></a></p>
                <div id="sticker" class="col-xs-12 col-sm-12 box-border bg-estimation">
                    <div class="col-xs-12 col-sm-12 cart-title2 blk-header">
                        <div class="col-xs-6 col-sm-6">
                            <h2 class="top-10" style="margin-bottom:15px;">23€ </h2>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-xs-6 col-sm-6 text-right">
                            <h5 style="margin-top:20px;">Per guest</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 cart-title">
                        <div class="col-xs-12 col-sm-12 top-10">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-7 bottom-border" style="padding-bottom:10px;">
                            <p>Détails</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 text-right bottom-border" style="padding-bottom:10px;">
                            <p>Price</p>
                        </div>
                        <div class="col-xs-7 col-sm-7">
                            <p>ASDAS</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 text-right">
                            <p>23€</p>
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <p>Service fees</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 text-right">
                            <p>4€</p>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <p></p>
                            <h4><b>Total</b></h4>
                            <p></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 text-right">
                            <p></p>
                            <h4><b>27€</b></h4>
                            <p></p>
                        </div>

                        <form name="form" method="post">
                            <div class="col-xs-12 col-sm-12 text-right">
                                <p>

                                </p>
                                <div id="form">
                                    <div class="form-group is-empty"><label class="control-label required"
                                            for="form_dateD">Arrivée</label><input type="text" id="form_dateD"
                                            name="form[dateD]" required="required"
                                            class="form_dateD form-control hasDatepicker"> </div>
                                    <div class="form-group is-empty"><label class="control-label required"
                                            for="form_dateF">Départ</label><input type="text" id="form_dateF"
                                            name="form[dateF]" required="required"
                                            class="form_dateF form-control hasDatepicker"> </div>
                                    <div class="form-group is-empty"><label class="control-label required"
                                            for="form_number">Nombre de personne</label><input type="number"
                                            id="form_number" name="form[number]" required="required"
                                            class="form-control"> </div><input type="hidden" id="form__token"
                                        name="form[_token]" value="SIXsyLCeJAr8ZjWHX73Gz_kJWyP6jKq-qAilPtWHpFg">
                                </div>

                                <p></p>
                            </div>

                            <div class="col-md-12 col-lg-12 top-20">
                                <input type="submit" value="Booking" class="btn btn-danger btn-lg full-input">
                            </div>
                            <div class="col-md-12 col-lg-12 xs-text">
                                <p class="estimation-title" style="margin-top:0;"><i class="fa fa-check"
                                        aria-hidden="true"></i> &nbsp;You will receive an answer from the host
                                    within 24 hours of the request<br><br>
                                    <i class="fa fa-check" aria-hidden="true"></i> &nbsp;Your credit card will be
                                    debited. You will be refunded in case of refusal by the host
                                </p>
                            </div>
                        </form>




                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

{% include 'include/footer.html' %}
{% endblock %}