{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div class="container-fluid bg-estimation bg-100">
       
        <form action="{% url 'shef_register' %}" method="POST">
            {% csrf_token %}
            
            <div class="container step" id="step_1">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
                    <div class="bg-50">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 has-feedback-right-connexion bot-20 meal-label">

                            <div class="form-group"><label class="control-label required" for="form_meal_type">{{ index_host.question_1 }}</label><select id="form_meal_type"
                                    name="question_1" class="form-control">
                                    <option value="1">Aperitif</option>
                                    <option value="2">Breakfast</option>
                                    <option value="3">Brunch</option>
                                    <option value="4">Lunch</option>
                                    <option value="5">Thé</option>
                                    <option value="6">Dinner</option>
                                    <option value="7">Drink</option>
                                    <option value="8">meal.the</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 has-feedback-right-connexion bot-40 meal-label">
                            <div class="form-group">
                                <label class="control-label required" for="form_meal_cook_type">{{ index_host.question_2 }}</label>
                                <select id="form_meal_cook_type" name="question_2" class="form-control">
                                    <option value="1">French</option>
                                    <option value="2">Chinese</option>
                                    <option value="3">Italian</option>
                                    <option value="4">Spanish</option>
                                    <option value="5">Japanases</option>
                                    <option value="6">Arabic</option>
                                    <option value="7">Russian</option>
                                    <option value="8">Turkish</option>
                                    <option value="9">Creole</option>
                                    <option value="10">English</option>
                                    <option value="11">Asian</option>
                                    <option value="12">Mexican</option>
                                    <option value="13">Nord African</option>
                                    <option value="14">Persian/Iranian</option>
                                    <option value="15">American</option>
                                    <option value="16">South American</option>
                                    <option value="17">Thai</option>
                                    <option value="18">Mongolian</option>
                                    <option value="19">Indian</option>
                                    <option value="20">Fusion</option>
                                    <option value="21">Greek</option>
                                    <option value="22">Portuguese</option>
                                    <option value="23">Eastern Europe</option>
                                    <option value="24">German</option>
                                    <option value="25">Basque</option>
                                    <option value="26">Catalan</option>
                                    <option value="27">Vietnamian</option>
                                    <option value="28">Customised</option>
                                </select> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_2">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">

                    <div class="bg-50">
                        <h3 class="top-40 bot-20">{{ index_host.question_3|safe }}</h3>
                        <div class="form-group has-feedback-right-connexion bottom-space is-empty">

                            <input type="text" id="form_adresse" name="question_3" 
                                class="form-control pac-target-input" placeholder="Введите местоположение"
                                autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_3">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">

                    <div class="bg-50">
                        <h3 class="top-40 bot-20">{{ index_host.question_4 }}</h3>
                        <div id="form_equipments" class="widget-li profil-content bot-40">
                            <div class="checkbox"><label for="form_equipments_1" class=""><input type="checkbox"
                                        id="form_equipments_1" name="form[equipments][]" value="1"><span
                                        class="checkbox-material"><span class="check"></span></span> Children
                                    allowed</label></div>
                            <div class="checkbox"><label for="form_equipments_2" class=""><input type="checkbox"
                                        id="form_equipments_2" name="form[equipments][]" value="2"><span
                                        class="checkbox-material"><span class="check"></span></span> Access for disabled
                                    people</label></div>
                            <div class="checkbox"><label for="form_equipments_3" class=""><input type="checkbox"
                                        id="form_equipments_3" name="form[equipments][]" value="3"><span
                                        class="checkbox-material"><span class="check"></span></span> Smokers
                                    allowed</label></div>
                            <div class="checkbox"><label for="form_equipments_4" class=""><input type="checkbox"
                                        id="form_equipments_4" name="form[equipments][]" value="4"><span
                                        class="checkbox-material"><span class="check"></span></span> Pets
                                    allowed</label></div>
                            <div class="checkbox"><label for="form_equipments_5" class=""><input type="checkbox"
                                        id="form_equipments_5" name="form[equipments][]" value="5"><span
                                        class="checkbox-material"><span class="check"></span></span> Air
                                    conditioning</label></div>
                            <div class="checkbox"><label for="form_equipments_6" class=""><input type="checkbox"
                                        id="form_equipments_6" name="form[equipments][]" value="6"><span
                                        class="checkbox-material"><span class="check"></span></span> WiFi</label></div>
                            <div class="checkbox"><label for="form_equipments_7" class=""><input type="checkbox"
                                        id="form_equipments_7" name="form[equipments][]" value="7"><span
                                        class="checkbox-material"><span class="check"></span></span> Paid
                                    parking</label></div>
                            <div class="checkbox"><label for="form_equipments_8" class=""><input type="checkbox"
                                        id="form_equipments_8" name="form[equipments][]" value="8"><span
                                        class="checkbox-material"><span class="check"></span></span> Street
                                    parking</label></div>
                            <div class="checkbox"><label for="form_equipments_9" class=""><input type="checkbox"
                                        id="form_equipments_9" name="form[equipments][]" value="9"><span
                                        class="checkbox-material"><span class="check"></span></span> Taxi
                                    station</label></div>
                            <div class="checkbox"><label for="form_equipments_10" class=""><input type="checkbox"
                                        id="form_equipments_10" name="form[equipments][]" value="10"><span
                                        class="checkbox-material"><span class="check"></span></span> Public
                                    transports</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_4">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">

                    <div class="bg-50">
                        <h3 class="top-40 bot-20">{{ index_host.question_5 }}</h3>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 widget-frequency bot-40">


                            <div id="form_frequences">
                                <div class="radio"><label for="form_frequences_1" class="required"><input type="radio"
                                            id="form_frequences_1" name="form[frequences]" 
                                            value="1"><span class="circle"></span><span class="check"></span> I don't
                                        know</label></div>
                                <div class="radio"><label for="form_frequences_2" class="required"><input type="radio"
                                            id="form_frequences_2" name="form[frequences]" 
                                            value="2"><span class="circle"></span><span class="check"></span> From times
                                        to times</label></div>
                                <div class="radio"><label for="form_frequences_3" class="required"><input type="radio"
                                            id="form_frequences_3" name="form[frequences]" 
                                            value="3"><span class="circle"></span><span class="check"></span> As often
                                        as possible</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_5">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
                    <div class="bg-50">


                        <h3 class="top-40 bot-20"><label class="control-label required">{{ index_host.question_6 }}</label> </h3>
                        <div class="form-group has-feedback-right-connexion list-choice">

                            <div id="form_dietary">
                                <div class="checkbox"><label for="form_dietary_2" class=""><input type="checkbox"
                                            id="form_dietary_2" name="form[dietary][]" value="2"><span
                                            class="checkbox-material"><span class="check"></span></span> Kosher</label>
                                </div>
                                <div class="checkbox"><label for="form_dietary_3" class=""><input type="checkbox"
                                            id="form_dietary_3" name="form[dietary][]" value="3" checked="checked"><span
                                            class="checkbox-material"><span class="check"></span></span> Organic</label>
                                </div>
                                <div class="checkbox"><label for="form_dietary_4" class=""><input type="checkbox"
                                            id="form_dietary_4" name="form[dietary][]" value="4"><span
                                            class="checkbox-material"><span class="check"></span></span> Vegan</label>
                                </div>
                                <div class="checkbox"><label for="form_dietary_5" class=""><input type="checkbox"
                                            id="form_dietary_5" name="form[dietary][]" value="5"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Vegetarian</label></div>
                                <div class="checkbox"><label for="form_dietary_6" class=""><input type="checkbox"
                                            id="form_dietary_6" name="form[dietary][]" value="6"><span
                                            class="checkbox-material"><span class="check"></span></span> Contains
                                        gluten</label></div>
                                <div class="checkbox"><label for="form_dietary_7" class=""><input type="checkbox"
                                            id="form_dietary_7" name="form[dietary][]" value="7"><span
                                            class="checkbox-material"><span class="check"></span></span> Hallal</label>
                                </div>
                                <div class="checkbox"><label for="form_dietary_8" class=""><input type="checkbox"
                                            id="form_dietary_8" name="form[dietary][]" value="8"><span
                                            class="checkbox-material"><span class="check"></span></span> Without
                                        pork</label></div>
                                <div class="checkbox"><label for="form_dietary_9" class=""><input type="checkbox"
                                            id="form_dietary_9" name="form[dietary][]" value="9"><span
                                            class="checkbox-material"><span class="check"></span></span> Without
                                        alcohol</label></div>
                            </div>
                        </div>


                        <h3 class="top-40 bot-20"><label class="control-label required">{{ index_host.question_7 }}</label></h3>
                        <div class="form-group has-feedback-right-connexion list-choice">

                            <div id="form_allergene">
                                <div class="checkbox"><label for="form_allergene_1" class=""><input type="checkbox"
                                            id="form_allergene_1" name="form[allergene][]" value="1"><span
                                            class="checkbox-material"><span class="check"></span></span> Lactose</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_2" class=""><input type="checkbox"
                                            id="form_allergene_2" name="form[allergene][]" value="2"
                                            checked="checked"><span class="checkbox-material"><span
                                                class="check"></span></span> Fish</label></div>
                                <div class="checkbox"><label for="form_allergene_3" class=""><input type="checkbox"
                                            id="form_allergene_3" name="form[allergene][]" value="3"><span
                                            class="checkbox-material"><span class="check"></span></span> Sesame</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_4" class=""><input type="checkbox"
                                            id="form_allergene_4" name="form[allergene][]" value="4"><span
                                            class="checkbox-material"><span class="check"></span></span> Gluten</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_5" class=""><input type="checkbox"
                                            id="form_allergene_5" name="form[allergene][]" value="5"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Crustaceans</label></div>
                                <div class="checkbox"><label for="form_allergene_6" class=""><input type="checkbox"
                                            id="form_allergene_6" name="form[allergene][]" value="6"><span
                                            class="checkbox-material"><span class="check"></span></span> Walnuts</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_7" class=""><input type="checkbox"
                                            id="form_allergene_7" name="form[allergene][]" value="7"><span
                                            class="checkbox-material"><span class="check"></span></span> Eggs</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_8" class=""><input type="checkbox"
                                            id="form_allergene_8" name="form[allergene][]" value="8"><span
                                            class="checkbox-material"><span class="check"></span></span> Lupin</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_9" class=""><input type="checkbox"
                                            id="form_allergene_9" name="form[allergene][]" value="9"><span
                                            class="checkbox-material"><span class="check"></span></span> Soya</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_10" class=""><input type="checkbox"
                                            id="form_allergene_10" name="form[allergene][]" value="10"><span
                                            class="checkbox-material"><span class="check"></span></span> Peanut</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_11" class=""><input type="checkbox"
                                            id="form_allergene_11" name="form[allergene][]" value="11"><span
                                            class="checkbox-material"><span class="check"></span></span> Seafood</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_12" class=""><input type="checkbox"
                                            id="form_allergene_12" name="form[allergene][]" value="12"><span
                                            class="checkbox-material"><span class="check"></span></span> Nuts</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_13" class=""><input type="checkbox"
                                            id="form_allergene_13" name="form[allergene][]" value="13"><span
                                            class="checkbox-material"><span class="check"></span></span> Celery</label>
                                </div>
                                <div class="checkbox"><label for="form_allergene_14" class=""><input type="checkbox"
                                            id="form_allergene_14" name="form[allergene][]" value="14"><span
                                            class="checkbox-material"><span class="check"></span></span> Mustard</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_6">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
                    <div class="bg-50">
                        <h3 class="top-40 bot-20">{{ index_host.question_8 }}</h3>
                        <div class="form-group has-feedback-right-connexion">
                            <input type="number" id="form_numberMax" name="form[numberMax]"  class="form-control" value="2">
                        </div>
                        <h3 class="top-40 bot-20">{{ index_host.question_9 }}</h3>
                        <div class="form-group has-feedback-right-connexion">
                            <input type="number" id="form_numberMin" name="form[numberMin]"  class="form-control" value="1">
                            <p class="xs-text text-danger">
                                <i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
                                <b>If the number of guests is insufficient 24 hours before the event</b>, 
                                the existing reservations for this meal will automatically be canceled and guests will be refunded.
                            </p>
                        </div>
                        <h3 class="top-40 bot-20">{{ index_host.question_10 }}</h3>
                        <div class="form-group has-feedback-right-connexion">
                            <input type="number" id="form_price" name="form[price]"  placeholder="..." class="form-control" value="20">
                        </div>

                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_7">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">

                    <div class="bg-50">
                        <h3 class="top-40 bot-20"> {{ index_host.question_11 }}</h3>
                        <div class="form-group has-feedback-right-connexion">

                            <input type="text" id="form_name" 
                                placeholder="Exemple : Diner français" class="form-control" value="ssdfg">
                        </div>
                        <h3 class="top-40 bot-20"> {{ index_host.question_12 }}</h3>
                        <div class="form-group has-feedback-right-connexion">

                            <textarea id="form_description" name="form[description]" 
                                class="descrip-text form-control"
                                placeholder="For exemple : Appetizers, Entrée, Main course, Dessert...">gh</textarea>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none bg-estimation" id="step_8">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-80">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-40 bot-20 profil-content">
                        <h3> {{ index_host.question_13 }}</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="profil-content col-xs-12 col-sm-12 col-md-6 col-lg-6 photo-box">
                            <div class="photo-btn">
                                <a href="/en/host/pic/del/392" class="delete"><i class="fa fa-trash-o fa-2x"></i></a>
                            </div>
                            <img class="img-responsive img-rounded" src="https://www.homemeal.com/media/cache/my_thumb/uploads/mealpics/a6735696bcd5dfc809d8ada1f7916f5bcf7b429a.png' %}" width="100%">
                        </div>
                        <div class="profil-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            
                            <p>{{ index_host.question_14|safe }} </p>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">


                                <input type="file" id="form_name" 
                                    class="bot-20 profil-content inputfilephotoinscription" onchange="readURL(this)"
                                    style="display:none">

                                <img class="photoinscription fsm-thumbnail img-responsive" style="z-index:1">
                                <button class="btn btn-default btn-pink-photo" id="buttonFileSelect"
                                    onclick="selectPhoto(event)"><span class="glyphicon glyphicon-picture"></span>
                                    </button>


                                <!-- <button type="submit" name="save_image_host"
                                    class="btn btn-danger btn-lg pull-right btn">Add</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_9">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">

                    <div class="bg-50">
                        <h3 class="top-40 bot-40">{{ index_host.question_15 }}</h3>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-hm profil-content bot-40">
                            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 profil-content">
                                <div class="form-group has-feedback-right-connexion min-input is-empty">
                                    <div class="input-group date" data-toggle="datetimepicker">
                                        <input type="text" id="form_date" name="form[date]"  class="date-fr form-control" data-dtp="dtp_GVFmI">
                                        <span class="input-group-addon"><span class="fa fa-calendar" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 profil-content">
                                <div class="form-group has-feedback-right-connexion min-input">
                                    <!-- <button type="submit" id="form_save" name="form[save]" class="btn btn-warning btn-lg btn-add-date full-input btn">Add</button> -->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xs-text profil-content">
                                {{ index_host.question_16|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_10">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
    
                    <div class="bg-50">
                        <p>{{ index_host.question_17|safe }}</p>
                   
                    </div>
                </div>
            </div>
            <div class="container step d-none" id="step_11">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
                    <div class="bg-50">
                        <p>{{ index_host.question_18|safe }}</p>
                        
                        {% comment %} <button type="submit" name="save_chef_register" class="btn btn-default2 btn-lg full-input"><i class="fa fa-check fa-lg txt-white" aria-hidden="true"></i> Approve</button> {% endcomment %}
                    </div>
                </div>
            </div>
            
            {% comment %} <div class="container step d-none" id="step_12">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 profil-content">
                    <div class="bg-50">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-40">
                            <h2 style="margin-bottom:0;">Congratulations, Mari.</h2>
                            <h2 style="margin-top:0;">You have ended all the tasks to publish your announce</h2>
                        </div>
                        <p class="top-20 bot-20"><b>Based on the parameters you have entered, here is what you can expect</b></p>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-border bot-10">
                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-3">
                                <img class="img-responsive" src="{% static '/assets/images/home/recap-time.jpg' %}">
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-9">
                                <div class="profil-content top-20 bot-20">
                                    <b>You are ready to welcome people on the </b><br><br>
                                    <p class="xs-text">A Homemealer finds that your meal would be perfect for him and fulfil all the conditions regarding guests.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-border bot-10">
                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-3">
                                <img class="img-responsive" src="{% static '/assets/images/home/recap-msg.jpg' %}">
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-9">
                                <div class=" profil-content top-20">
                                    <b>Guests send a message in order to confirm their reservation.</b>
                                    <p class="xs-text">A Homemealer signal that he is in town for business this day, and that he would be happy to eat at your table.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-border bot-40">
                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-3">
                                <img class="img-responsive" src="{% static '/assets/images/home/recap-meet.jpg' %}">
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-9">
                                <div class=" profil-content top-20">
                                    <b>Welcome your guests.</b>
                                    <p class="xs-text">Before arrival, you can contact the member to hear you on the booking details.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 option-space top-border">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span id="return" class="btn btn-empty btn-lg pull-left"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{ index_host.button_3 }}</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button id="next" class="btn btn-danger btn-lg pull-right"><i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp; {{ index_host.button_2 }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        function initialize() {
            // Create the search box and link it to the UI element.
            var input = document.getElementById('location');
            var searchBox = new google.maps.places.SearchBox(input);

            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            //searchBox.addListener('places_changed', function() {
            //  console.log("ok")
            //});
        }
    </script>
{% include 'include/footer.html' %}
{% endblock %}