{% extends 'include/homepage.html' %} {% load static %} {% block content %} 
{% include 'include/header.html' %}

<div class="contaibner-fluid bg-estimation bottom-border">
  <div class="container profil-content" bis_skin_checked="1">
    <h3 class="title-style bot-20 top-20 full-input hm-align-center">
      <b
        ><i
          class="fa fa-cutlery"
          aria-hidden="true"
          data-sider-select-id="c2e39c5b-2be1-42ba-ba87-5c817998f033"
        ></i
        >Бронированные продукты</b
      >
    </h3>
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box"
      bis_skin_checked="1"
    >
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header"
        bis_skin_checked="1"
      >
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <span>
              <i class="fa fa-users" aria-hidden="true"></i><br />Nombre
              d'invités <br />
              à
            </span>
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a href="https://www.homemeal.com/fr/search/305"
              ><i class="fa fa-eye fa-lg" aria-hidden="true"></i><br />Aperçu
              de<br />l'annonce</a
            >
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a
              data-isloaded="false"
              href="#myModal"
              data-toggle="modal"
              data-load-remote="/fr/user/meal/delete/305"
              data-target="#confirmationModal"
            >
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i
              ><br />Supprimer<br />la prestation
            </a>
          </span>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 food_card_image"
        bis_skin_checked="1"
      >
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 host-book-title">
          <br />
          <span class="host-book-price">
            € / <i class="fa fa-user-o" aria-hidden="true"></i
          ></span>
        </p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" bis_skin_checked="1">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          bis_skin_checked="1"
        >
          <a
            href="https://www.homemeal.com/fr/host/host_booking_new/305"
            class="btn btn-lg btn-warning full-input profil-content"
            style="margin-top: 2px"
          >
            EDIT
          </a>
        </div>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box"
      bis_skin_checked="1"
    >
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header"
        bis_skin_checked="1"
      >
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <span>
              <i class="fa fa-users" aria-hidden="true"></i><br />Nombre
              d'invités <br />1234 à 1234123
            </span>
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a href="https://www.homemeal.com/fr/search/304"
              ><i class="fa fa-eye fa-lg" aria-hidden="true"></i><br />Aperçu
              de<br />l'annonce</a
            >
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a
              data-isloaded="false"
              href="#myModal"
              data-toggle="modal"
              data-load-remote="/fr/user/meal/delete/304"
              data-target="#confirmationModal"
            >
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i
              ><br />Supprimer<br />la prestation
            </a>
          </span>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 food_card_image"
        bis_skin_checked="1"
      >
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 host-book-title">
          werty<br />
          <span class="host-book-price"
            >1234 € / <i class="fa fa-user-o" aria-hidden="true"></i
          ></span>
        </p>

        <img
          class="img-responsive img-blk"
          src="https://www.homemeal.com/media/cache/my_thumb/uploads/mealpics/8697a907062c47b0c0b8c3ebdf35aa47ea1d2964.png"
        />
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" bis_skin_checked="1">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          bis_skin_checked="1"
        >
          <a
            href="https://www.homemeal.com/fr/host/host_booking_new/304"
            class="btn btn-lg btn-warning full-input profil-content"
            style="margin-top: 2px"
          >
            EDIT
          </a>
        </div>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box"
      bis_skin_checked="1"
    >
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header"
        bis_skin_checked="1"
      >
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <span>
              <i class="fa fa-users" aria-hidden="true"></i><br />Nombre
              d'invités <br />123 à 12345
            </span>
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a href="https://www.homemeal.com/fr/search/303"
              ><i class="fa fa-eye fa-lg" aria-hidden="true"></i><br />Aperçu
              de<br />l'annonce</a
            >
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a
              data-isloaded="false"
              href="#myModal"
              data-toggle="modal"
              data-load-remote="/fr/user/meal/delete/303"
              data-target="#confirmationModal"
            >
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i
              ><br />Supprimer<br />la prestation
            </a>
          </span>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 food_card_image"
        bis_skin_checked="1"
      >
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 host-book-title">
          werty<br />
          <span class="host-book-price"
            >1232 € / <i class="fa fa-user-o" aria-hidden="true"></i
          ></span>
        </p>

        <img
          class="img-responsive img-blk"
          src="https://www.homemeal.com/media/cache/my_thumb/uploads/mealpics/23fa143747163a21d01723934a9e66bc076356b6.jpg"
        />
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" bis_skin_checked="1">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          bis_skin_checked="1"
        >
          <a
            href="https://www.homemeal.com/fr/host/host_booking_new/303"
            class="btn btn-lg btn-warning full-input profil-content"
            style="margin-top: 2px"
          >
            EDIT
          </a>
        </div>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box"
      bis_skin_checked="1"
    >
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header"
        bis_skin_checked="1"
      >
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <span>
              <i class="fa fa-users" aria-hidden="true"></i><br />Nombre
              d'invités <br />12 à 122
            </span>
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a href="https://www.homemeal.com/fr/search/302"
              ><i class="fa fa-eye fa-lg" aria-hidden="true"></i><br />Aperçu
              de<br />l'annonce</a
            >
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a
              data-isloaded="false"
              href="#myModal"
              data-toggle="modal"
              data-load-remote="/fr/user/meal/delete/302"
              data-target="#confirmationModal"
            >
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i
              ><br />Supprimer<br />la prestation
            </a>
          </span>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 food_card_image"
        bis_skin_checked="1"
      >
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 host-book-title">
          афафа<br />
          <span class="host-book-price"
            >321 € / <i class="fa fa-user-o" aria-hidden="true"></i
          ></span>
        </p>

        <img
          class="img-responsive img-blk"
          src="https://www.homemeal.com/media/cache/my_thumb/uploads/mealpics/35ca6a1d3f80ebc55c4528497923834464baba3e.png"
        />
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" bis_skin_checked="1">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          bis_skin_checked="1"
        >
          <a
            href="https://www.homemeal.com/fr/host/host_booking_new/302"
            class="btn btn-lg btn-warning full-input profil-content"
            style="margin-top: 2px"
          >
            EDIT
          </a>
        </div>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box"
      bis_skin_checked="1"
    >
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header"
        bis_skin_checked="1"
      >
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <span>
              <i class="fa fa-users" aria-hidden="true"></i><br />Nombre
              d'invités <br />
              à
            </span>
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a href="https://www.homemeal.com/fr/search/301"
              ><i class="fa fa-eye fa-lg" aria-hidden="true"></i><br />Aperçu
              de<br />l'annonce</a
            >
          </span>
        </div>
        <div
          class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn"
          bis_skin_checked="1"
        >
          <span class="xs-txt">
            <a
              data-isloaded="false"
              href="#myModal"
              data-toggle="modal"
              data-load-remote="/fr/user/meal/delete/301"
              data-target="#confirmationModal"
            >
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i
              ><br />Supprimer<br />la prestation
            </a>
          </span>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 food_card_image"
        bis_skin_checked="1"
      >
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 host-book-title">
          <br />
          <span class="host-book-price">
            € / <i class="fa fa-user-o" aria-hidden="true"></i
          ></span>
        </p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" bis_skin_checked="1">
        <div
          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center"
          bis_skin_checked="1"
        >
          <a
            href="https://www.homemeal.com/fr/host/host_booking_new/301"
            class="btn btn-lg btn-warning full-input profil-content"
            style="margin-top: 2px"
          >
            EDIT
          </a>
        </div>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box"
      bis_skin_checked="1"
    >
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home-box-border-space add-event-btn2 hm-align-center"
        bis_skin_checked="1"
      >
        <p class="top-50p">
          <a href="https://www.homemeal.com/fr/host/host_meal_select">
            <i class="fa fa-plus-square fa-4x" aria-hidden="true"></i
            ><br />Ajouter une<br />nouvelle prestation
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include 'include/footer.html' %} {% endblock %}
