{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div class="contaibner-fluid bg-estimation bg-100 bg-tips">
        <div class="container profil-content">
            <h3 class="title-style bot-20 top-20 full-input hm-align-center"><b><i class="fa fa-cutlery"
                        aria-hidden="true"></i> YOUR PERFORMANCES</b></h3>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header">

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                        <span class="xs-txt">
                            <span>
                                <i class="fa fa-users" aria-hidden="true"></i><br>Number of guests<br> to 2
                            </span>
                        </span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                        <span class="xs-txt">
                            <a href="https://www.homemeal.com/en/home/72"><i class="fa fa-eye fa-lg"
                                    aria-hidden="true"></i><br>Snapshot</a>
                        </span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                        <span class="xs-txt">
                            <a data-isloaded="false" href="#myModal" data-toggle="modal"
                                data-load-remote="/en/user/flat/delete/72" data-target="#confirmationModal">
                                <i class="fa fa-trash fa-lg" aria-hidden="true"></i><br>Delete<br>this ad </a>
                        </span>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 host-book-title">ASDAS<br>
                        <span class="host-book-price">23 € / <i class="fa fa-user-o" aria-hidden="true"></i></span>
                    </p>

                    <img class="img-responsive img-blk"
                        src="https://www.homemeal.com/media/cache/my_thumb/uploads/flatpics/ea4e4a2ff611cba0f6dea507a96cddf82fb00b22.jpg">

                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center">
                    </div>
                </div>





            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header">

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                        <span class="xs-txt">
                            <span>
                                <i class="fa fa-users" aria-hidden="true"></i><br>Number of guests<br> to
                            </span>
                        </span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                        <span class="xs-txt">
                            <a href="https://www.homemeal.com/en/home/63"><i class="fa fa-eye fa-lg"
                                    aria-hidden="true"></i><br>Snapshot</a>
                        </span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hm-align-center booking-btn">
                        <span class="xs-txt">
                            <a data-isloaded="false" href="#myModal" data-toggle="modal"
                                data-load-remote="/en/user/flat/delete/63" data-target="#confirmationModal">
                                <i class="fa fa-trash fa-lg" aria-hidden="true"></i><br>Delete<br>this ad </a>
                        </span>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 host-book-title">яч ч мф МЫ ым ВМ<br>
                        <span class="host-book-price"> € / <i class="fa fa-user-o" aria-hidden="true"></i></span>
                    </p>


                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hm-align-center">
                    </div>
                </div>





            </div>


            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 home-box-border-space bot-20 shadow-box">
                <div
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home-box-border-space add-event-btn2 hm-align-center">
                    <p class="top-50p">
                        <a href="https://www.homemeal.com/en/flat/">
                            <i class="fa fa-plus-square fa-4x" aria-hidden="true"></i><br>Add a<br>new service
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    {% include 'include/footer.html' %}
    {% endblock %}