<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chef-Contact</title>
    <link rel="stylesheet" href="/assets/jquery-ui-1.12.0/jquery-ui.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="/assets/js/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/assets/css/chat.css" />
    <link rel="stylesheet" href="/assets/css/homemeal.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/assets/css/star-rating.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body id="homepage">
    <div id="loading">
        <img id="loading-image" src="/assets/images/loading.gif " alt="Loading..." style="margin-left: -60px" />
    </div>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top hm-navbar">
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <a href="#" class="navbar-brand hidden-xs hidden-sm" style="margin-top: 6px">
                        <img class="img-responsive" src="/assets/images/home/logo-chef.png" />
                    </a>
                    <a href="#" class="pull-left visible-xs visible-sm">
                        <img class="img-responsive sigle-hm" src="/assets/images/home/single-chef.png" />
                    </a>

                    <a id="pictoSearch" href="./search/index.html"
                        class="btn btn-outline4 btn-lg menu-search padd-20"><i class="fa fa-search fa-lg"
                            aria-hidden="true"></i></a>

                    <a class="navbar-toggle xs-btn" data-toggle="collapse" data-target=".navbar-collapse" href="#"><i
                            class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="lang_list"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose Your language
                                </button>
                                <ul class="dropdown-menu dropdown-footer pull-right" aria-labelledby="dropdownMenu1">
                                    <li aria-checked="true" class="active" role="menuitem">
                                        <a href="#">English</a>
                                    </li>
                                    <li aria-checked="false" role="menuitem">
                                        <a href="#">Русский</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="./becomeahost.html">
                                    <button type="button" class="btn btn-outline">Become a host</button>
                                </a>
                            </div>
                        </li>

                        <li class="divider-vertical" style="height: 60px">
                            <div>
                                <button class="btn toggle-left btn-host" type="button" id="btn-inscription"
                                    aria-haspopup="true" aria-expanded="true" data-toggle="modal"
                                    data-target="#modal-inscription">
                                    Sign-in
                                </button>
                            </div>
                        </li>
                        <li class="divider-vertical" style="height: 60px">
                            <div>
                                <a href="./login.html">
                                    <button class="btn toggle-left btn-host" type="button" id="btn-inscription"
                                        aria-haspopup="true" aria-expanded="true">
                                        Connect
                                    </button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="modal fade" id="modal-inscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="z-index: 200000">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body top-10">
                        <a href="register/index.html">
                            <button class="btn btn-danger btn-lg bot-20" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-envelope-o pull-left fa-lg" style="margin-top: 3px"
                                    aria-hidden="true"></i>
                                Sign-in with email
                            </button>
                        </a>
                        <a href="../connect/facebook.html">
                            <button class="btn btn-primary btn-lg" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-facebook pull-left fa-lg" aria-hidden="true"></i>
                                Sign-in with Facebook
                            </button>
                        </a>
                        <div class="xs-text">
                            <p class="modal-signin-text search-bar-label">
                                By creating an account, I agree upon the
                                <a href="terms.html">General terms of use</a> of Homemeal and
                                <a href="privacy.html">Confidentiality</a>
                            </p>
                        </div>
                        <div class="separation-line"></div>
                    </div>
                    <div class="modal-footer bot-10">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                            <p class="xs-text" style="padding-top: 3px">Already a member?</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <a href="./login.html">
                                <button type="button" class="btn btn-outline2 btn-lg pull-right">Connect</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-connexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <a href="../connect/facebook.html">
                            <button class="btn btn-primary btn-lg" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-facebook pull-left fa-lg" aria-hidden="true"></i>
                                Connect with Facebook
                            </button>
                        </a>

                        <p class="hm-align-center search-bar-label">- ou -</p>

                        <a href="./login.html">
                            <button class="btn btn-danger btn-lg" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-envelope-o pull-left fa-lg" aria-hidden="true"></i>
                                Connect with your e-mail
                            </button>
                        </a>

                        <div class="separation-line"></div>
                    </div>

                    <div class="modal-footer">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 xs-text">
                            <p class="sm-top"><b> No account yet?</b></p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <button class="btn btn-outline2 btn-lg pull-right" type="button" id="btn-inscription"
                                aria-haspopup="true" aria-expanded="true" data-toggle="modal"
                                data-target="#modal-inscription">
                                Sign-in
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contaibner-fluid bg-estimation bg-tips" style="margin-bottom:-15px;">
        <div class="container profil-content">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 profil-content" style="margin-top:25px;">

                <a href="index.html" class="btn btn-default3 full-input profil-content bot-10">
                    <img class="img-circle img-responsive circle-border img-switch"
                        src="https://www.homemeal.com/media/cache/my_profil/uploads/pics/profil.jpg">
                    <p><b>Profile</b></p>
                </a>


                <a href="pic.html">
                    <button type="submit" class="btn btn-default3 full-input profil-content bot-10">
                        <b>Profile picture</b>
                    </button>
                </a>

                <a href="edit.html" class="active-color">
                    <button type="submit" class="btn btn-default3 full-input profil-content bot-10">
                        <b>Your details</b>
                    </button>
                </a>

                <a href="verification.html">
                    <button type="submit" class="btn btn-default3 full-input profil-content bot-10">
                        <b>Trust and checking</b>
                    </button>
                </a>




            </div>
            <form name="fos_user_profile_form" method="post" action="/en/profile/edit" class="fos_user_profile_edit">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 bg-estimation top-40 box-border">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-bg blk-header">
                        <h3 class="profil-content">Your details</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-border">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 top-20 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required" for="fos_user_profile_form_firstname">First
                                    name</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 top-20 profil-content">

                            <div class="form-group"><input type="text" id="fos_user_profile_form_firstname"
                                    name="fos_user_profile_form[firstname]" required="required" class="form-control"
                                    value="Sherlock"></div>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required" for="fos_user_profile_form_lastname">Last
                                    name</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div class="form-group"><input type="text" id="fos_user_profile_form_lastname"
                                    name="fos_user_profile_form[lastname]" required="required" class="form-control"
                                    value="Holmes"></div>
                            <p class="xs-text">This information is only shared once you have confirmed a reservation
                                with another Homemeal member.</p>
                        </div>


                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required" for="fos_user_profile_form_adresse">Address</label>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div class="form-group is-empty"><input type="text" id="fos_user_profile_form_adresse"
                                    name="fos_user_profile_form[adresse]" required="required"
                                    class="form-control pac-target-input" placeholder="Введите местоположение"
                                    autocomplete="off"></div>
                            <p class="xs-text" this="" information="" is="" only="" shared="" once="" you="" have=""
                                confirmed="" a="" reservation="" with="" another="" homemeal="" member.=""></p>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required" for="fos_user_profile_form_job">Your job</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div class="form-group is-empty"><input type="text" id="fos_user_profile_form_job"
                                    name="fos_user_profile_form[job]" required="required" class="form-control"></div>
                            <p class="xs-text">This information allows guest to know better their host before the D-Day.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required">Langues</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                            <p style="margin-top:17px;"><a data-toggle="collapse" data-target="#langues">Select your
                                    spoken languages <i class="fa fa-sort-desc" aria-hidden="true"></i></a></p>
                            <div id="langues" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse bg-estimation"
                                style="margin-top:-50px;">
                                <p class="top-20"><a data-toggle="collapse" data-target="#langues">Select your spoken
                                        languages <i class="fa fa-caret-up" aria-hidden="true"></i></a></p>

                                <div id="fos_user_profile_form_langues">
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_1" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_1"
                                                name="fos_user_profile_form[langues][]" value="1"><span
                                                class="checkbox-material"><span class="check"></span></span> Bahasa
                                            Indonesia</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_2" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_2"
                                                name="fos_user_profile_form[langues][]" value="2"><span
                                                class="checkbox-material"><span class="check"></span></span> Bahasa
                                            Malaysia</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_3" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_3"
                                                name="fos_user_profile_form[langues][]" value="3"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Bengali</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_4" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_4"
                                                name="fos_user_profile_form[langues][]" value="4"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Dansk</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_5" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_5"
                                                name="fos_user_profile_form[langues][]" value="5"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Deutsch</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_6" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_6"
                                                name="fos_user_profile_form[langues][]" value="6"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            English</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_7" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_7"
                                                name="fos_user_profile_form[langues][]" value="7"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Español</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_8" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_8"
                                                name="fos_user_profile_form[langues][]" value="8"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Français</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_9" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_9"
                                                name="fos_user_profile_form[langues][]" value="9"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Hindi</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_10" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_10"
                                                name="fos_user_profile_form[langues][]" value="10"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Italiano</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_11" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_11"
                                                name="fos_user_profile_form[langues][]" value="11"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Magyar</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_12" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_12"
                                                name="fos_user_profile_form[langues][]" value="12"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Nederlands</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_13" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_13"
                                                name="fos_user_profile_form[langues][]" value="13"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Norsk</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_14" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_14"
                                                name="fos_user_profile_form[langues][]" value="14"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Polski</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_15" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_15"
                                                name="fos_user_profile_form[langues][]" value="15"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Português</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_16" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_16"
                                                name="fos_user_profile_form[langues][]" value="16"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Punjabi</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_17" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_17"
                                                name="fos_user_profile_form[langues][]" value="17"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Suomi</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_18" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_18"
                                                name="fos_user_profile_form[langues][]" value="18"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Svenska</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_19" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_19"
                                                name="fos_user_profile_form[langues][]" value="19"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Tagalog</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_20" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_20"
                                                name="fos_user_profile_form[langues][]" value="20"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Türkçe</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_21" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_21"
                                                name="fos_user_profile_form[langues][]" value="21"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Čeština</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_22" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_22"
                                                name="fos_user_profile_form[langues][]" value="22"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Ελληνικά</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_23" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_23"
                                                name="fos_user_profile_form[langues][]" value="23"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            Русский</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_24" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_24"
                                                name="fos_user_profile_form[langues][]" value="24"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            українська</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_25" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_25"
                                                name="fos_user_profile_form[langues][]" value="25"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            עברית</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_26" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_26"
                                                name="fos_user_profile_form[langues][]" value="26"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            العربية</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_27" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_27"
                                                name="fos_user_profile_form[langues][]" value="27"><span
                                                class="checkbox-material"><span class="check"></span></span>
                                            ภาษาไทย</label></div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_28" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_28"
                                                name="fos_user_profile_form[langues][]" value="28"><span
                                                class="checkbox-material"><span class="check"></span></span> 中文</label>
                                    </div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_29" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_29"
                                                name="fos_user_profile_form[langues][]" value="29"><span
                                                class="checkbox-material"><span class="check"></span></span> 日本語</label>
                                    </div>
                                    <div class="checkbox"><label for="fos_user_profile_form_langues_30" class=""><input
                                                type="checkbox" id="fos_user_profile_form_langues_30"
                                                name="fos_user_profile_form[langues][]" value="30"><span
                                                class="checkbox-material"><span class="check"></span></span> 한국어</label>
                                    </div>
                                </div>
                            </div>
                            <p class="xs-text">Tell your guests in what languages you are able to talk</p>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required">Date of birth</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div id="fos_user_profile_form_birthday" class="form-inline">
                                <div class="sr-only">
                                    <label class="control-label required"
                                        for="fos_user_profile_form_birthday_year">Year</label>
                                    <label class="control-label required"
                                        for="fos_user_profile_form_birthday_month">Month</label>
                                    <label class="control-label required"
                                        for="fos_user_profile_form_birthday_day">Day</label>
                                </div>
                                <div class="form-group"><select id="fos_user_profile_form_birthday_day"
                                        name="fos_user_profile_form[birthday][day]" class="form-control">
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5" selected="selected">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                        <option value="8">08</option>
                                        <option value="9">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select></div>
                                <div class="form-group"><select id="fos_user_profile_form_birthday_month"
                                        name="fos_user_profile_form[birthday][month]" class="form-control">
                                        <option value="1" selected="selected">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                        <option value="8">08</option>
                                        <option value="9">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select></div>
                                <div class="form-group"><select id="fos_user_profile_form_birthday_year"
                                        name="fos_user_profile_form[birthday][year]" class="form-control">
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974" selected="selected">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                        <option value="1969">1969</option>
                                        <option value="1968">1968</option>
                                        <option value="1967">1967</option>
                                        <option value="1966">1966</option>
                                        <option value="1965">1965</option>
                                        <option value="1964">1964</option>
                                        <option value="1963">1963</option>
                                        <option value="1962">1962</option>
                                        <option value="1961">1961</option>
                                        <option value="1960">1960</option>
                                        <option value="1959">1959</option>
                                        <option value="1958">1958</option>
                                        <option value="1957">1957</option>
                                        <option value="1956">1956</option>
                                        <option value="1955">1955</option>
                                        <option value="1954">1954</option>
                                        <option value="1953">1953</option>
                                        <option value="1952">1952</option>
                                        <option value="1951">1951</option>
                                        <option value="1950">1950</option>
                                        <option value="1949">1949</option>
                                        <option value="1948">1948</option>
                                        <option value="1947">1947</option>
                                        <option value="1946">1946</option>
                                        <option value="1945">1945</option>
                                        <option value="1944">1944</option>
                                    </select></div>
                            </div>
                            <p class="xs-text">This wonderful day where the Earth have seen your birth! We will use this
                                for our data analysis and will never share it with other users.</p>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required" for="fos_user_profile_form_email">Email</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div class="form-group"><input type="email" id="fos_user_profile_form_email"
                                    name="fos_user_profile_form[email]" required="required" class="form-control"
                                    value="Sherlock221b@gmail.com"></div>
                            <p class="xs-text">We do not share your personal email address with other Homemeal users..
                            </p>

                        </div>



                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content hidden-xs">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><b>Phone number</b></p>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content visible-xs">
                            <p style="padding-top:7px; margin-bottom:0">Phone number</p>
                        </div>

                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div class="input-group">



                                <div class="input-group-addon">


                                    <i class="fa fa-ban" aria-hidden="true"></i> no_number
                                </div>
                            </div>


                            <p class="xs-text">We do not share your personal phone number with other Homemeal users.<br>
                                You must have a confirmed phone number in order to contact a host, or ask for a
                                reservation.</p>


                            <p><a href="verification.html" class="text-danger"><i class="fa fa-plus"
                                        aria-hidden="true"></i> Add your phone number</a></p>

                        </div>



                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required" for="fos_user_profile_form_locale">First
                                    language</label></p>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div class="form-group"><select id="fos_user_profile_form_locale"
                                    name="fos_user_profile_form[locale]" class="form-control">
                                    <option value="fr">fr</option>
                                    <option value="en" selected="selected">en</option>
                                    <option value="es">es</option>
                                </select></div>
                            <p class="xs-text">You will receive your messages in this language</p>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required"
                                    for="fos_user_profile_form_description">Description</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div class="form-group is-empty"><textarea id="fos_user_profile_form_description"
                                    name="fos_user_profile_form[description]" required="required"
                                    class="form-control"></textarea></div>
                            <p class="xs-text">Homemeal is based on relationships. Help others to know you better.</p>
                            <p class="xs-text">Tell them what you like: what are the things you wouldn’t miss for
                                anything? Tell them some of your culinar preferences.</p>
                            <p class="xs-text">Explain them what it is like to be received by you or to have you as a
                                guest. What do you like to eat? How do you like to receive?</p>
                            <p class="xs-text">Tell us more about you: what is your motto in life?</p>
                        </div>



                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                            <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                    class="control-label required" for="fos_user_profile_form_current_password">Current
                                    password</label></p>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                            <div class="form-group"><input type="password" id="fos_user_profile_form_current_password"
                                    name="fos_user_profile_form[current_password]" required="required"
                                    class="form-control"></div>
                            <p class="xs-text">For safety issues, please type your password before updating your
                                personal details.</p>
                        </div>



                        <input type="hidden" id="fos_user_profile_form__token" name="fos_user_profile_form[_token]"
                            value="JR10fHxXf3KMNbCmotZtNyapnE-NnPjw573OAOfQl7c">



                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">

                </div>


                <input type="submit" class="btn btn-danger btn-lg pull-right top-20 bot-40" value="Save">

            </form>

        </div>
    </div>


    <script>
        function initialize() {
            // Create the search box and link it to the UI element.
            var input = document.getElementById('location');
            var searchBox = new google.maps.places.SearchBox(input);

            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            //searchBox.addListener('places_changed', function() {
            //  console.log("ok")
            //});
        }
    </script>

    <div class="container-fluid hmv2-footer">
        <div class="container p0">
            <div class="col-xs-12 col-sm-12 col-md-12 home-block t40xs">
                <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
                    <p><b>Chef-Contact</b></p>
                    <ul class="list-unstyled">
                        <li><a href="./aboutus.html" title="About">About</a></li>
                        <li><a href="./terms.html" title="Policies">Policies</a></li>
                        <li><a href="./privacy.html" title="Privacy">Privacy</a></li>
                        <li><a href="./rules.html">Contests</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
                    <p><b>Découvrir</b></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="./confiance.html" title="Trust and Safety">Trust and Safety</a>
                        </li>
                        <li><a href="./press.html" title="Press">Press</a></li>
                        <li><a href="./faq.html" title="F.A.Q">F.A.Q</a></li>
                        <li>
                            <a href="./contact_us.html" title="Contact us">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
                    <p><b>Accueillir</b></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="./howitworks.html" title="How does it work?">How does it work?</a>
                        </li>
                        <li><a href="./becomeahost.html">Become a host</a></li>
                        <li><a href="./hospitality.html">Hospitality</a></li>
                        <li><a href="./meal_restriction.html">Specific diets</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 fixpad7 b20">
                    <p><b>Rejoignez-nous</b></p>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/HomeMeal-153960538296278/" target="_blank"><i
                                    class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/HomeMealCompany" target="_blank"><i class="fa fa-twitter fa-lg"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://in.pinterest.com/homemeal/" target="_blank"><i
                                    class="fa fa-pinterest-p fa-lg" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/homemeal_official/" target="_blank"><i
                                    class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCOc1S6b_QlHV9FA4T1Vj63A/" target="_blank"><i
                                    class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 home-block top-border pt20 b60">
                <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 p0">
                    <p class="t5">
                        © chef-contact.com
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="/assets/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/assets/jquery-ui-1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/jquery-ui-1.12.0/i18n/datepicker-fr.js"></script>
    <script type="text/javascript" src="/assets/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/highlight.pack.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.sticky-kit.min.js"></script>

    <script type="text/javascript" src="/assets/js/material.min.js"></script>

    <script type="text/javascript"
        src="/assets/js/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.js "></script>

    <script src="/bundles/fosjsrouting/js/router.js"></script>
    <script src="/js/routing@callback=fos.Router.setData"></script>

    <script type="text/javascript" src="/assets/js/homemeal.js"></script>
    <script type="text/javascript" src="/assets/js/star-rating.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ3gW0vTR08BDtM1n0t0jRKuIaglCRwDw&libraries=places&callback=initialize"></script>
</body>

</html>