{% extends 'include/homepage.html' %}
{% load static i18n %}
{% block content %}
{% include 'include/header.html' %}


<div class="contaibner-fluid bg-estimation bg-tips" style="margin-bottom:-15px;">
    <div class="container profil-content">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 profil-content" style="margin-top:25px;">

            <a href="{% url 'profile' user.username %}" class="btn btn-default3 full-input profil-content bot-10">
                <img class="img-circle img-responsive circle-border img-switch"
                    src="https://www.homemeal.com/media/cache/my_profil/uploads/pics/profil.jpg">
                <p><b>{% trans 'Профиль' %}</b></p>
            </a>


            <a href="{% url 'profile_image' user.username %}">
                <button type="submit" class="btn btn-default3 full-input profil-content bot-10">
                    <b>{% trans 'Фото профиля' %}</b>
                </button>
            </a>

            <a href="{% url 'edit' user.username %}" class="active-color">
                <button type="submit" class="btn btn-default3 full-input profil-content bot-10">
                    <b>{% trans 'Детали профиля' %}</b>
                </button>
            </a>

            <a href="{% url 'verification' user.username %}">
                <button type="submit" class="btn btn-default3 full-input profil-content bot-10">
                    <b>{% trans 'Безопасность' %}</b>
                </button>
            </a>


        </div>


        <form name="fos_user_profile_form" method="post" action="" class="fos_user_profile_edit">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 bg-estimation top-40 box-border">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-bg blk-header">
                    <h3 class="profil-content">{% trans 'Детали профиля' %}</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-border">
                    
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 top-20 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required" for="fos_user_profile_form_username">{% trans 'Имя пользователя' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 top-20 profil-content">

                        <div class="form-group"><input type="text" id="fos_user_profile_form_username" name="username"
                                required="required" class="form-control" value="{{user.username}}"></div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 top-20 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required" for="fos_user_profile_form_firstname">{% trans 'Имя' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 top-20 profil-content">
                        {% if user.first_name %}
                        <div class="form-group"><input type="text" id="fos_user_profile_form_firstname" name="first_name"
                                required="required" class="form-control" value="{{user.first_name}}"></div>
                        {% else %}
                        <div class="form-group"><input type="text" id="fos_user_profile_form_firstname" name="first_name"
                            required="required" class="form-control" placeholder="{% trans 'Введите свое имя' %}"></div>
                        {% endif %}
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required" for="fos_user_profile_form_lastname">{% trans 'Фамилия' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                        {% if user.last_name %}
                        <div class="form-group"><input type="text" id="fos_user_profile_form_lastname" name="last_name"
                                required="required" class="form-control" value="{{user.last_name}}"></div>
                        {% else %}
                        <div class="form-group"><input type="text" id="fos_user_profile_form_lastname" name="last_name"
                            required="required" class="form-control" placeholder="{% trans 'Введите свою фамилию' %}"></div>
                        {% endif %}
                    </div>


                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required" for="fos_user_profile_form_adresse">{% trans 'Местоположение' %}</label>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                        {% if user.location %}
                        <div class="form-group is-empty"><input type="text" id="fos_user_profile_form_adresse"
                                name="location" required="required" class="form-control pac-target-input"
                                value="{{user.location}}" autocomplete="off"></div>
                        <p class="xs-text" this="" information="" is="" only="" shared="" once="" you="" have=""
                            confirmed="" a="" reservation="" with="" another="" homemeal="" member.=""></p>
                        {% else %}
                        <div class="form-group is-empty"><input type="text" id="fos_user_profile_form_adresse"
                                name="location" required="required" class="form-control pac-target-input"
                                placeholder="{% trans 'Введите свое местоположение' %}" autocomplete="off"></div>
                        <p class="xs-text" this="" information="" is="" only="" shared="" once="" you="" have=""
                            confirmed="" a="" reservation="" with="" another="" homemeal="" member.=""></p>
                        {% endif %}
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required" for="fos_user_profile_form_job">{% trans 'Ваша профессия' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                        {% if user.job %}
                        <div class="form-group is-empty"><input type="text" id="fos_user_profile_form_job" name="job"
                            value="{{user.job}}"  required="required" class="form-control"></div>
                        {% else %}
                        <div class="form-group is-empty"><input type="text" id="fos_user_profile_form_job" name="job"
                            placeholder="{% trans 'Укажите свою работу' %}" required="required" class="form-control"></div>
                        <p class="xs-text">This information allows guest to know better their host before the D-Day.
                        {% endif %}
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required">{% trans 'Языки' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                        <p style="margin-top:17px;"><a data-toggle="collapse" data-target="#langues">{% trans 'Выберите языки на которых вы говорите' %} <i class="fa fa-sort-desc" aria-hidden="true"></i></a></p>
                        <div id="langues" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse bg-estimation"
                            style="margin-top:-50px;">
                            <p class="top-20"><a data-toggle="collapse" data-target="#langues">{% trans 'Выберите языки на которых вы говорите' %} <i class="fa fa-caret-up" aria-hidden="true"></i></a></p>

                            <div id="fos_user_profile_form_langues">
                                <div class="checkbox"><label for="fos_user_profile_form_langues_1" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_1" name="langues][]"
                                            value="1"><span class="checkbox-material"><span class="check"></span></span>
                                        Bahasa
                                        Indonesia</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_2" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_2"
                                            name="fos_user_profile_form[langues][]" value="2"><span
                                            class="checkbox-material"><span class="check"></span></span> Bahasa
                                        Malaysia</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_3" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_3"
                                            name="fos_user_profile_form[langues][]" value="3"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Bengali</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_4" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_4"
                                            name="fos_user_profile_form[langues][]" value="4"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Dansk</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_5" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_5"
                                            name="fos_user_profile_form[langues][]" value="5"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Deutsch</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_6" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_6"
                                            name="fos_user_profile_form[langues][]" value="6"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        English</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_7" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_7"
                                            name="fos_user_profile_form[langues][]" value="7"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Español</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_8" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_8"
                                            name="fos_user_profile_form[langues][]" value="8"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Français</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_9" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_9"
                                            name="fos_user_profile_form[langues][]" value="9"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Hindi</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_10" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_10"
                                            name="fos_user_profile_form[langues][]" value="10"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Italiano</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_11" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_11"
                                            name="fos_user_profile_form[langues][]" value="11"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Magyar</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_12" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_12"
                                            name="fos_user_profile_form[langues][]" value="12"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Nederlands</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_13" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_13"
                                            name="fos_user_profile_form[langues][]" value="13"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Norsk</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_14" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_14"
                                            name="fos_user_profile_form[langues][]" value="14"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Polski</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_15" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_15"
                                            name="fos_user_profile_form[langues][]" value="15"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Português</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_16" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_16"
                                            name="fos_user_profile_form[langues][]" value="16"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Punjabi</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_17" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_17"
                                            name="fos_user_profile_form[langues][]" value="17"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Suomi</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_18" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_18"
                                            name="fos_user_profile_form[langues][]" value="18"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Svenska</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_19" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_19"
                                            name="fos_user_profile_form[langues][]" value="19"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Tagalog</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_20" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_20"
                                            name="fos_user_profile_form[langues][]" value="20"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Türkçe</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_21" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_21"
                                            name="fos_user_profile_form[langues][]" value="21"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Čeština</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_22" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_22"
                                            name="fos_user_profile_form[langues][]" value="22"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Ελληνικά</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_23" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_23"
                                            name="fos_user_profile_form[langues][]" value="23"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        Русский</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_24" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_24"
                                            name="fos_user_profile_form[langues][]" value="24"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        українська</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_25" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_25"
                                            name="fos_user_profile_form[langues][]" value="25"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        עברית</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_26" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_26"
                                            name="fos_user_profile_form[langues][]" value="26"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        العربية</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_27" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_27"
                                            name="fos_user_profile_form[langues][]" value="27"><span
                                            class="checkbox-material"><span class="check"></span></span>
                                        ภาษาไทย</label></div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_28" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_28"
                                            name="fos_user_profile_form[langues][]" value="28"><span
                                            class="checkbox-material"><span class="check"></span></span> 中文</label>
                                </div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_29" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_29"
                                            name="fos_user_profile_form[langues][]" value="29"><span
                                            class="checkbox-material"><span class="check"></span></span> 日本語</label>
                                </div>
                                <div class="checkbox"><label for="fos_user_profile_form_langues_30" class=""><input
                                            type="checkbox" id="fos_user_profile_form_langues_30"
                                            name="fos_user_profile_form[langues][]" value="30"><span
                                            class="checkbox-material"><span class="check"></span></span> 한국어</label>
                                </div>
                            </div>
                        </div>
                        <p class="xs-text">{% trans 'Укажите своим посетителям на каких языках вы говроите' %}</p>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required">{% trans 'Дата рождения' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                        <div id="fos_user_profile_form_birthday" class="form-inline">
                            <div class="sr-only">
                                <label class="control-label required"
                                    for="fos_user_profile_form_birthday_year">Year</label>
                                <label class="control-label required"
                                    for="fos_user_profile_form_birthday_month">Month</label>
                                <label class="control-label required"
                                    for="fos_user_profile_form_birthday_day">Day</label>
                            </div>
                            <div class="form-group"><select id="fos_user_profile_form_birthday_day"
                                    name="birthday" class="form-control">
                                    <option value="{{ user.birthday }}" selected="selected">{{ user.birthday }}</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select></div>
                            <div class="form-group"><select id="fos_user_profile_form_birthday_month"
                                    name="month_of_birth" class="form-control">
                                    <option value="{{ user.month_of_birth }}" selected="selected">{{ user.month_of_birth }}</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select></div>
                            <div class="form-group"><select id="fos_user_profile_form_birthday_year"
                                    name="year_of_birth" class="form-control">
                                    <option value="{{ user.year_of_birth }}" selected="selected">{{ user.year_of_birth }}</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                    <option value="1945">1945</option>
                                    <option value="1944">1944</option>
                                </select></div>
                        </div>
                        <p class="xs-text">{% trans 'В этот чудесный день, когда Земля увидела твое рождение! Мы будем использовать это для анализа наших данных и никогда не передадим их другим пользователям.' %}</p>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required" for="fos_user_profile_form_email">{% trans 'Адрес электронной почты' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                        {% if user.email %}
                        <div class="form-group"><input type="email" id="fos_user_profile_form_email"
                                name="email" required="required" class="form-control"
                                value="{{user.email}}"></div>
                        {% else %}
                        <div class="form-group"><input type="email" id="fos_user_profile_form_email"
                            name="email" required="required" class="form-control"
                            placeholder="{% trans 'Введите адрес электронной почты' %}"></div>
                        <p class="xs-text">{% trans 'Chef Contact не делится вашими персональными данными с третьими лицами' %}</p>
                        {% endif %}

                    </div>


                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required" for="fos_user_profile_form_phone">{% trans 'Номер телефона' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                        {% if user.phone %}
                        <div class="form-group"><input type="phone" id="fos_user_profile_form_phone"
                                name="phone" required="required" class="form-control"
                                value="{{user.phone}}"></div>
                        {% else %}
                        <div class="form-group"><input type="phone" id="fos_user_profile_form_phone"
                            name="phone" required="required" class="form-control"
                            placeholder="{% trans 'Введите свой номер телефона' %}"></div>
                        <p class="xs-text">{% trans 'Chef Contact не делится вашими персональными данными с третьими лицами' %}</p>
                        {% endif %}

                    </div>

                    



                    <!-- <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content hidden-xs">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><b>Phone number</b></p>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content visible-xs">
                        <p style="padding-top:7px; margin-bottom:0">Phone number</p>
                    </div>

                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">

                        <div class="input-group">



                            <div class="input-group-addon">


                                <i class="fa fa-ban" aria-hidden="true"></i> no_number
                            </div>
                        </div>


                        <p class="xs-text">We do not share your personal phone number with other Homemeal users.<br>
                            You must have a confirmed phone number in order to contact a host, or ask for a
                            reservation.</p>


                        <p><a href="verification.html" class="text-danger"><i class="fa fa-plus" aria-hidden="true"></i>
                                Add your phone number</a></p>

                    </div> -->



                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required" for="fos_user_profile_form_locale">{% translate 'Основной язык' %}</label></p>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 profil-content">

                        <div class="form-group"><select id="fos_user_profile_form_locale"
                                name="main_language" class="form-control">
                                <option value="FR">FR</option>
                                <option value="EN" selected="selected">EN</option>
                                <option value="ES">ES</option>
                                <option value="RU">RU</option>
                            </select></div>
                        <p class="xs-text">{% trans 'Вы будете получать сообщения на этом языке' %}</p>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profil-content">
                        <p class="pull-right" style="padding-top:7px; margin-bottom:0"><label
                                class="control-label required"
                                for="fos_user_profile_form_description">{% trans 'Биография' %}</label></p>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 profil-content">
                        {% if user.biography %}
                        <div class="form-group is-empty"><textarea id="fos_user_profile_form_description"
                                name="biography" required="required"
                                class="form-control">{{ user.biography }}</textarea></div>
                        {% else %}
                        <div class="form-group is-empty"><textarea id="fos_user_profile_form_description"
                            name="biography" required="required" 
                            class="form-control"></textarea></div>
                            
                            
                        <p class="xs-text">Homemade food is about relationships. Help others get to know you better.</p>
                        <p class="xs-text">Tell them what you like: what are the things you wouldn’t miss for
                            anything? Tell them some of your culinar preferences.</p>
                        <p class="xs-text">Explain them what it is like to be received by you or to have you as a
                                guest. What do you like to eat? How do you like to receive?</p>
                        <p class="xs-text">Tell us more about you: what is your motto in life?</p>
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">

            </div>


            <input type="submit" class="btn btn-danger btn-lg pull-right top-20 bot-40" value="{% trans 'Сохранить' %}">

        </form>

    </div>
</div>


<script>
    function initialize() {
        // Create the search box and link it to the UI element.
        var input = document.getElementById('location');
        var searchBox = new google.maps.places.SearchBox(input);

        // [START region_getplaces]
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        //searchBox.addListener('places_changed', function() {
        //  console.log("ok")
        //});
    }
</script>

{% include 'include/footer.html' %}
{% endblock %}