{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}


<div class="contaibner-fluid bg-tips bg-100">
    <div class="container" style="position: relative;">
        <div id="sticker" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 home-box-border-space bot-20 top-40 hidden-xs"
            style="">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content hm-align-center top-10"
                style="position:absolute; z-index:1;">
                <img class="img-circle img-responsive circle-border"
                    src="https://www.homemeal.com/media/cache/my_profil/uploads/pics/profil.jpg">
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12 bg-estimation" style="margin-top:200px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content minheight">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-md visible-lg top-20">

                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <i class="fa fa-map-marker fa-2x" aria-xhidden="true" style="margin:5px 5px 0 10px;"></i>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padd-top10">
                        {{ user.location }}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <i class="fa fa-birthday-cake fa-lg" aria-hidden="true" style="margin:13px 5px 0 9px;"></i>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 top-10">
                        {{ user_age }} {% trans 'Лет' %}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <i class="fa fa-language fa-lg" aria-hidden="true" style="margin:5px 0 0 10px;"></i>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        {{ user.main_language }}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <i class="fa fa-briefcase fa-lg" aria-hidden="true" style="margin:5px 0 0 10px;"></i>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        {{ user.job }}
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <i class="fa fa-envelope-o fa-lg" aria-hidden="true" style="margin:8px 5px 0 10px;"></i>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-bottom:15px;">
                        {{ user.email }}<br>
                        <i class="xs-txt text-success">{% trans 'Подтвержден' %}</i>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <i class="fa fa-ban fa-2x" aria-hidden="true" style="color:#e19313; margin:5px 5px 0 10px;"></i>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 bot-10">
                        {{ user.phone }}<br>
                        <i class="xs-txt" style="color:#e19313;">{% trans 'Не подтвержден' %}</i>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 hidden-xs top-50">
        </div>
        <div
            class="col-xs-12 col-sm-8 col-md-8 col-lg-9 profil-content profil-details bg-estimation bot-40 home-box-border-space2">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-10">
                <h1 class="top-40">{{user.username}}</h1>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 search-result-text">


                        <div class="rating-container rating-xs rating-animate">
                            <div class="rating-stars">
                                <span class="filled-stars" style="width: 0%;"><span class="star"><i
                                            class="glyphicon glyphicon-star"></i></span><span class="star"><i
                                            class="glyphicon glyphicon-star"></i></span><span class="star"><i
                                            class="glyphicon glyphicon-star"></i></span><span class="star"><i
                                            class="glyphicon glyphicon-star"></i></span><span class="star"><i
                                            class="glyphicon glyphicon-star"></i></span></span><input value=""
                                    type="text" class="rating pull-right rating-input" data-min="0" data-max="5"
                                    data-step="1" data-size="xs" title="" data-show-caption="false"
                                    data-show-clear="false" data-hover-enabled="false">
                            </div>
                        </div>
                    </div>

                </div>


                <p></p>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content bottom-border">
                    <i>

                    </i>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 visible-xs bottom-border">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content top-20">
                        <img class="img-circle img-responsive"
                            src="https://www.homemeal.com/media/cache/my_profil/uploads/pics/profil.jpg">
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content minheight2">

                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-map-marker fa-2x" aria-hidden="true" style="margin:5px 5px 0 10px;"></i>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 padd-top10">

                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-birthday-cake fa-lg" aria-hidden="true"
                                    style="margin:13px 5px 0 9px;"></i>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 top-10">
                                50 ans
                            </div>

                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-language fa-lg" aria-hidden="true" style="margin:5px 0 0 10px;"></i>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                ...
                            </div>


                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-envelope-o fa-lg" aria-hidden="true" style="margin:8px 5px 0 10px;"></i>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-bottom:15px;">
                                {% trans 'Адрес электронной почты' %}<br>
                                <i class="xs-txt text-success">{% trans 'Подтвержден' %}</i>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-ban fa-2x" aria-hidden="true"
                                    style="color:#e19313; margin:5px 5px 0 10px;"></i>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 bot-10">
                                {% trans 'Номер телефона' %}<br>
                                <i class="xs-txt" style="color:#e19313;">{% trans 'Не подтвержден' %}</i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-border top-40">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 bot-20 top-20">
                        <h3></h3>
                    </div>
                    <form method="POST" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bot-20 top-20">
                        {%csrf_token%}
                        <button name="chat" class="btn btn-success btn-md pull-right full-input">{% trans 'Написать' %}</button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-40">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bg-tips search-input box-border shadow-box ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header">
                                <span class="xs-txt">фарсв</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-tips">
                                <div id="hm-profil9" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item    active">
                                            <img class="img-responsive img-switch"
                                                src="https://www.homemeal.com/media/cache/ask_profil/uploads/mealpics/73953194e8ec051893dca7e75d4ea34de3d37ff6.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">
                                <span class="badge">Meal.the</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 bg-tips search-input box-border shadow-box ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content blk-header">
                                <span class="xs-txt">ssdfg</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-tips">
                                <div id="hm-profil10" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item    active">
                                            <img class="img-responsive img-switch"
                                                src="https://www.homemeal.com/media/cache/ask_profil/uploads/mealpics/a6735696bcd5dfc809d8ada1f7916f5bcf7b429a.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profil-content">
                                <span class="badge">Dinner</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-border option-space top-20">
                <h3>Where is Sherlock ?</h3>
                <p>
                    <i class="fa fa-circle-thin fa-2x text-danger" aria-hidden="true"></i> &nbsp;Show the
                    geographical
                    area of Sherlock.<br>
                    <b class="xs-txt" style="margin-left:42px;">The exact address of the host will be revealed once
                        the
                        reservation is confirmed by the host.</b>
                </p>
                <p>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bot-40">
                <img class="img-responsive" src="/assets/images/home/area.png" style="position:absolute; z-index:2;">

                <img class="img-responsive" width="100%" src="/map/2345" style="margin:0;">

            </div>

        </div>
    </div>

    <div class="container">


    </div>


</div>

<script>
    function initialize() {
        // Create the search box and link it to the UI element.
        var input = document.getElementById('location');
        var searchBox = new google.maps.places.SearchBox(input);

        // [START region_getplaces]
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        //searchBox.addListener('places_changed', function() {
        //  console.log("ok")
        //});
    }
</script>

{% include 'include/footer.html' %}
{% endblock %}