{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

  <div class="container-fluid full-input" style="position: absolute; top: 40px; z-index: 200; text-align: center">
    <div class="container"></div>
  </div>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <div class="container-fluid bg-sign bg-100 profil-content" style="margin-bottom: -1px">
    <form method="post" action="{% url 'register' %}" class="fos_user_registration_register">
      {% csrf_token %}
      <div class="col-sm-2 col-md-2 col-lg-4 hidden-xs"></div>

      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 bg-estimation bot-80 shadow-box padding-40"
        style="max-width: 470px; border-radius: 8px">
        <p class="hm-align-center">
          <span class="text-danger">Inscrivez-vous avec</span>
          <a href="{% url 'social:begin' 'facebook' %}">
            Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        </p>
        <p class="hm-align-center">- ou -</p>

          
        <div class="form-group register-gender">
          <div id="fos_user_registration_form_gender">
            <div class="radio">
              <label for="fos_user_registration_form_gender_0" class="required"><input type="radio"
                  id="fos_user_registration_form_gender_0" name="user_role" required="required"
                  value="user" />
                  Customer</label>
            </div>
            <div class="radio">
              <label for="fos_user_registration_form_gender_1" class="required"><input type="radio"
                  id="fos_user_registration_form_gender_1" name="user_role" required="required"
                  value="chef" />
                  Chef</label>
            </div>
          </div>
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <input type="text" id="fos_user_registration_form_lastname" name="username"
            required="required" placeholder="username" class="form-control" />
          <i class="fa fa-user-o form-control-feedback fa-lg log-ico"></i>
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <input type="text" id="fos_user_registration_form_firstname" name="first_name"
            required="required" placeholder="first name" class="form-control" />

          <i class="fa fa-user-o form-control-feedback fa-lg log-ico"></i>
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <input type="text" id="fos_user_registration_form_lastname" name="last_name"
            required="required" placeholder="last name" class="form-control" />
          <i class="fa fa-user-o form-control-feedback fa-lg log-ico"></i>
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <input type="email" id="fos_user_registration_form_email" name="email"
            required="required" placeholder="Adresse e-mail" class="form-control" />
          <i class="fa fa-envelope-o form-control-feedback fa-lg log-ico"></i>
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <input type="password" id="fos_user_registration_form_plainPassword_first"
            name="password" required="required" placeholder="Password"
            class="form-control" />
          <img class="form-control-feedback log-lock" src="{% static '/assets/images/home/lock-o.png' %}" />
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <input type="password" id="fos_user_registration_form_plainPassword_second"
            name="confirm_password" required="required"
            placeholder="Confirmation de Password" class="form-control" />
          <img class="form-control-feedback log-lock" src="{% static '/assets/images/home/lock-o.png' %}" />
        </div>

        <p><b>Date de naissance</b></p>
        <div class="col-lg-12 form-date register-date">
          <div id="fos_user_registration_form_birthday" class="form-inline">
            <div class="sr-only">
              <label class="control-label required" for="fos_user_registration_form_birthday_year">Year</label>
              <label class="control-label required" for="fos_user_registration_form_birthday_month">Month</label>
              <label class="control-label required" for="fos_user_registration_form_birthday_day">Day</label>
            </div>
            <select id="fos_user_registration_form_birthday_day" name="birthday"
              class="form-control">
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
            <select id="fos_user_registration_form_birthday_month" name="month_of_birth"
              class="form-control">
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select id="fos_user_registration_form_birthday_year" name="year_of_birth"
              class="form-control">
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option>
              <option value="2000">2000</option>
              <option value="1999">1999</option>
              <option value="1998">1998</option>
              <option value="1997">1997</option>
              <option value="1996">1996</option>
              <option value="1995">1995</option>
              <option value="1994">1994</option>
              <option value="1993">1993</option>
              <option value="1992">1992</option>
              <option value="1991">1991</option>
              <option value="1990">1990</option>
              <option value="1989">1989</option>
              <option value="1988">1988</option>
              <option value="1987">1987</option>
              <option value="1986">1986</option>
              <option value="1985">1985</option>
              <option value="1984">1984</option>
              <option value="1983">1983</option>
              <option value="1982">1982</option>
              <option value="1981">1981</option>
              <option value="1980">1980</option>
              <option value="1979">1979</option>
              <option value="1978">1978</option>
              <option value="1977">1977</option>
              <option value="1976">1976</option>
              <option value="1975">1975</option>
              <option value="1974">1974</option>
              <option value="1973">1973</option>
              <option value="1972">1972</option>
              <option value="1971">1971</option>
              <option value="1970">1970</option>
              <option value="1969">1969</option>
              <option value="1968">1968</option>
              <option value="1967">1967</option>
              <option value="1966">1966</option>
              <option value="1965">1965</option>
              <option value="1964">1964</option>
              <option value="1963">1963</option>
              <option value="1962">1962</option>
              <option value="1961">1961</option>
              <option value="1960">1960</option>
              <option value="1959">1959</option>
              <option value="1958">1958</option>
              <option value="1957">1957</option>
              <option value="1956">1956</option>
              <option value="1955">1955</option>
              <option value="1954">1954</option>
              <option value="1953">1953</option>
              <option value="1952">1952</option>
              <option value="1951">1951</option>
              <option value="1950">1950</option>
              <option value="1949">1949</option>
              <option value="1948">1948</option>
              <option value="1947">1947</option>
              <option value="1946">1946</option>
              <option value="1945">1945</option>
              <option value="1944">1944</option>
            </select>
          </div>
        </div>

        <div class="col-lg-12 form-date register-date">
          <div class="g-recaptcha" data-sitekey="6Ldn4tMUAAAAACAaS_0jmf9MPiVpLsZTga5Xtf3a"></div>
        </div>

        <p>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" checked />
            <span class="xs-text">Je souhaite recevoir par e-mail des coupons, des promotions, des sondages et les
              actualités sur Chef Contact et ses partenaires.</span>
          </label>
        </p>
        <div class="xs-text">
          <p class="modal-signin-text search-bar-label">
            En créant un compte, j'accepte les
            <a href="{% url 'terms' %}" title="footer.terms">Conditions générales</a>
            de Chef Contact , et
            <a href="{% url 'privacy' %}" title="footer.privacy">Politique de confidentialité</a>
          </p>
        </div>

        <div>
          <button class="btn btn-danger btn-lg btn-connexion full-input xl-btn" type="submit" id="btn-connexion"
            aria-haspopup="true" aria-expanded="true">
            Register
          </button>
        </div>
        

        <div class="separation-line"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
          <p class="sm-top"><b>Déja membre Chef Contact ?</b></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
          <a href="{% url 'login' %}">
            <button type="button" class="btn btn-outline2 btn-lg pull-right"><span style="color: black;">Connexion</span></button>
          </a>
        </div>
      </div>
      <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]"
        value="KM5putpkunQWCqB2NzzEz828gpjsvi31plQsrUtlJ1o" />
    </form>
  </div>

  <div class="container">
    <div id="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
  </div>

  {% include 'include/footer.html' %}
  {% endblock %}