{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

  <div class="container-fluid full-input" style="position: absolute; top: 40px; z-index: 200; text-align: center">
    <div class="container"></div>
  </div>

  <div class="container-fluid bg-100">
    <div class="container">
      <form action="/en/resetting/send-email" method="POST" class="fos_user_resetting_request">
        <div class="dh-hover-box3">
          <h3 class="bot-20">
            FORGOT YOUR PASSWORD ?<br />
            Enter your email address
          </h3>
          <input class="form-control" type="text" id="username" name="username" required="required"
            style="text-align: center" />
          <p class="xs-text">
            A reset email will be sent to the address provided.
          </p>
          <input class="btn btn-danger btn-lg" type="submit" value="SEND" />
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div id="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
  </div>

  {% include 'include/footer.html' %}
  {% endblock %}